#acessibilidade {
    height: 34px;
    padding: 0 10px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(199,199,199,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(199,199,199,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(199,199,199,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(199,199,199,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(199,199,199,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(199,199,199,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c7c7c7', GradientType=0 );
    font-size: 14px;
    line-height: 25px;
    border-bottom: 2px solid #e5e5e5;
}

#acessibilidade a {
    color: #717171;
    font-weight: 600;
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

#acessibilidade a:hover {
    color: #454545;
}

#acessibilidade  a img, #acessibilidade .font img {
   opacity: 0.5;
}

#acessibilidade  a:hover img, #acessibilidade .font:hover img {
   opacity: 1;
}

#acessibilidade img {    
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

#content-acessibilidade {    
    background: white;
    padding: 2em;
}