.bg-primary { background: #4A90E2 !important; }
.btn-primary { background: #4A90E2 !important; }
.btn-primarydark { background: #427ec6 !important; }

.bg-primary:hover, .bg-primary:active, .bg-primary:focus { background: #427ec6 !important; }
.btn-primary:hover, .btn-primary:active, .btn-primary:focus { background: #427ec6 !important; }
.btn-primarydark:hover, .btn-primarydark:active, .btn-primarydark:focus { background: #3566a2 !important; }