/* ---------------------------------------------------
    Header-menu
----------------------------------------------------- */
/* ---------------------------------------------------
    Megamenu
----------------------------------------------------- */

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    margin: 0 0.5%;
    width: 99%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu > li > ul > li {
    list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 5px;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
}

.mega-dropdown-menu .dropdown-header {
    font-size: 18px;
    padding: 5px 60px 5px 5px;
    line-height: 30px;
}

.clean-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu-principal::after {
    content: "";
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -10px;
    left: 5px; 
    z-index: 8;
}

.mega-dropdown-menu-regiao::after {
    content: "";
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent; 
    position: absolute;
    top: -10px;
    left: 382px; 
    z-index: 8;
}

.dark-screen {
    display: none;
}

.dark-screen.open {
    background: rgba(0, 0, 0, 0.5);
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.lastMenu {
    min-height: 20rem;
}

/* ---------------------------------------------------
    Megamenu
----------------------------------------------------- */

.menu, .menu li, .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
}

.menu {
    max-height: 410px;
    overflow: auto;
    font-family: 'SourceSansPro';
    font-size: 0.75em;
    -webkit-box-shadow: inset 5px 0px 5px -3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 5px 0px 5px -3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 5px 0px 5px -3px rgba(0, 0, 0, 0.3);
}

.hasSubmenu ul {
    margin-left: 10px;
}

.menu:first-child {
    box-shadow: none;
}

.menu ul li ul {
    display: none;
}

.submenu ul li ul {
    display: none;
}

.menu ul a,
.menu ul a:link,
.menu ul a:visited {
    display: block;
    color: #656565;
    text-decoration: none;
    font-weight: normal;
    font-size: 0.95rem !important;
    line-height: normal;
}

.menu * li {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0 !important;
}

.menu * li:only-child {
    border-top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.menu * li > a {
    padding: 6px 20px !important;
}

.menu * li:hover {  
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: bold;
    -webkit-box-shadow: inset 5px 0px 5px -3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 5px 0px 5px -3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 5px 0px 5px -3px rgba(0, 0, 0, 0.3);
}
.menu:first-child > ul > li:hover {
    box-shadow: none;
}

.menu ul li:hover > a {
    color: #3c689a;
    font-weight: bold;
}

.menu * li:hover {
    background: #fef6e9 !important;
}

#megaMenuRegiao .menu > ul > li:hover {
    background: #ECF3FC !important;
}

.submenu-active {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: bold !important;
    -webkit-box-shadow: inset 5px 0px 5px -3px rgba(0, 0, 0, 0.3) !important;
    -moz-box-shadow: inset 5px 0px 5px -3px rgba(0, 0, 0, 0.3) !important;
    box-shadow: inset 5px 0px 5px -3px rgba(0, 0, 0, 0.3) !important;
    background: #fef6e9 !important;
}

#megaMenuRegiao .submenu-active {
    background: #ECF3FC !important;
}

.submenuRegiao-active {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: bold !important;
    -webkit-box-shadow: inset 5px 0px 5px -3px rgba(0, 0, 0, 0.3) !important;
    -moz-box-shadow: inset 5px 0px 5px -3px rgba(0, 0, 0, 0.3) !important;
    box-shadow: inset 5px 0px 5px -3px rgba(0, 0, 0, 0.3) !important;
    background: #ECF3FC !important;
}

.submenu-active a, .submenuRegiao-active a {
    color: #3c689a !important;
    font-weight: bold !important;
}


/* ---------------------------------------------------
   Menu Shortcut
----------------------------------------------------- */
.shortcut {
    font-size: 0.8rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #476485;
}

.shortcut-bold {
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #476485;
}

.shortcut-border {
    border-right: 1px solid #b9d4f2;
}

.no-border-bottom {
    border-bottom: 0;
}

.card-body.bg_menu_shortcut {
    max-height: 23rem;
}

.scroll {
    overflow-y: scroll;
}