<div class="sidebar-header m-0 p-0">
    <div class="row p-0 mx-0 my-2">
        <p class="font-painel m-0 p-0">
            PAINEL<span class="font-sistemas">&nbsp;SISTEMAS</span>
        </p>
        <div class="btn color-sidebar-btn ml-auto p-0 sidebarCollapse" style="display: block !important;">
            <i class="fas fa-external-link-alt"></i>
        </div>
    </div>
</div>
<ul class="components flex-row justify-content-center">
    <li class="">
        <a href="#SubmenuIntegra" class="sidebarCollapse">
            <img alt="Ícone do sistema integra mais" class="" src="assets/images/icon1.png" />
        </a>
        <div class="sidebar-card mb-2">
            <div class="card-header d-flex justify-content-between align-items-center">
                <a class="sidebarAnchor" name="SubmenuIntegra"><span class="d-none">Texto alternativo.</span></a>
                <div class="sidebar-card-title">
                    CONECTA
                </div>
                <img alt="Ícone do sistema integra mais" class="sidebar-card-title-icon" src="assets/images/icon1.png" />
            </div>
            <div class="card-body pt-3 pb-2">
                <div class="card-conecta-img shadow-sm border rounded-circle mx-2"></div>
                <div class="card-conecta-nome text-left text-uppercase pt-2">
                    Jaqueline Dias Almeida
                </div>
                <div class="card-conecta text-left text-uppercase">
                    Assessoria de comunicação<br>
                    Social da PR/AM
                </div>
                <div class="card-painel-fonte-data col align-self-end rodape mt-1">
                    <a class="text-sm-right painel-data pb-0" href="#">Acessar o <b>Conecta</b></a>
                </div>
            </div>
        </div>
    </li>
    <li>
        <a href="#SubmenuGroupwise" class="sidebarCollapse">
            <img alt="Ícone do sistema groupwise" class="" src="assets/images/icon2.png" />
        </a>
        <div class="card-groupwise sidebar-card mb-2">
            <div class="card-header d-flex justify-content-between align-items-center">
                <a class="sidebarAnchor" name="SubmenuGroupwise"><span class="d-none">Texto alternativo.</span></a>
                <div class="sidebar-card-title">
                    GROUPWISE
                </div>
                <img alt="Ícone do sistema groupwise" class="sidebar-card-title-icon" src="assets/images/icon2.png" />
            </div>
            <div class="card-body pt-3 flex-row">
                <ul class="nav nav-pills card-painel-nav ml-2 mr-2 pt-1 align-items-end pl-1" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#email" id="pills-home-tab" role="tab">
                            <i class="fas fa-envelope mr-1"></i> E-mails <span class="badge badge-pill p-1 badge-danger ml-1">23</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#compromissos" id="pills-profile-tab" role="tab">
                            <i class="fas fa-calendar mr-1"></i> Compromissos <span class="badge badge-pill p-1 badge-primary ml-1">13</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="email" role="tabpanel">
                        <ul class="p-0">
                            <li class="col mt-2 pb-1 card-painel-fonte-data">
                                <label>21/04/2019 | 1h30</label> <a class="fonte-texto pb-2 p" href="#">Gestão em Pauta: MPF promove iniciativas para prevenção aos riscos de acidentes de trabalho em adesão ao Abril Verde</a>
                            </li>
                            <li class="col mt-2 pb-1 card-painel-fonte-data">
                                <label>21/04/2019 | 18h15</label> <a class="fonte-texto pb-2 p" href="#">Enc.: Boletim MPF em destaque</a>
                            </li>
                            <li class="col mt-2 pb-1 card-painel-fonte-data">
                                <label>21/04/2019 | 17h15</label> <a class="fonte-texto pb-2 p" href="#">EaD do MPF: Resumo das mensagens do fórum</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="compromissos" role="tabpanel">
                        <ul class="p-0">
                            <li class="col mt-2 pb-1 card-painel-fonte-data">
                                <label>22/04/2019 | 17h15</label> <a class="fonte-texto pb-2 p" href="#">EaD do MPF: Resumo das mensagens do fórum</a>
                            </li>
                            <li class="col mt-2 pb-1 card-painel-fonte-data">
                                <label>22/04/2019 | 18h15</label> <a class="fonte-texto pb-2 p" href="#">Enc.: Boletim MPF em destaque</a>
                            </li>
                            <li class="col mt-2 pb-1 card-painel-fonte-data">
                                <label>22/04/2019 | 1h30</label> <a class="fonte-texto pb-2 p" href="#">Gestão em Pauta: MPF promove iniciativas para prevenção aos riscos de acidentes de trabalho em adesão ao Abril Verde</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-painel-fonte-data col align-self-end rodape mt-1">
                    <a class="text-sm-right painel-data px-0" href="#">Acessar o <b>Groupwise</b></a>
                </div>
            </div>
        </div>
    </li>
    <li>
        <a href="#SubmenuUnico" class="sidebarCollapse">
            <img alt="Ícone do sistema único" class="" src="assets/images/icon3.png" />
        </a>
        <div class="card-unico sidebar-card mb-2">
            <div class="card-header d-flex justify-content-between align-items-center">
                <a class="sidebarAnchor" name="SubmenuUnico"><span class="d-none">Texto alternativo.</span></a>
                <div class="sidebar-card-title">
                    ÚNICO
                </div>
                <img alt="Ícone do sistema único" class="sidebar-card-title-icon" src="assets/images/icon3.png" />
            </div>
            <div class="card-body pt-3 pl-3">
                <form class="pr-3">
                    <fieldset class="hidden w-100">
                        <legend>perfil</legend>
                        <div class="form-group row mb-2">
                            <label class="col-sm-2 col-form-label" for="perfil">Perfil</label>
                            <div class="col-sm-10">
                                <select class="form-control form-control-sm" id="perfil" name="perfil">
                                    <option>
                                        ASSEANWEB/SECOM
                                    </option>
                                    <option>
                                        Perfil 2
                                    </option>
                                    <option>
                                        Perfil 3
                                    </option>
                                    <option>
                                        Perfil 4
                                    </option>
                                    <option>
                                        Perfil 5
                                    </option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <div class="row pl-1">
                    <div class="col card-unico-font">
                        <i class="fas fa-edit card-unico-font"></i> <span class="card-unico-badge badge badge-pill badge-danger">3</span> <span class="card-unico-font">Expedientes para assinar</span>
                    </div>
                </div>
                <div class="row justify-content-start unico">
                    <div class="col mt-3 mx-1 px-2">
                        <a href="#" title="Ícone de folhas">
                            <img alt="Ícone de folhas" class="mr-1 mb-2" src="assets/images/icon_unico1.png" />
                        </a>
                        <span class="card-unico-badge badge badge-pill badge-danger">3</span>

                        <a href="#" title="Ícone de pastas">
                            <img alt="Ícone de pastas" class="mr-1 mb-2" src="assets/images/icon_unico2.png" />
                        </a>
                        <span class="card-unico-badge badge badge-pill badge-danger">1</span>

                        <a href="#" title="Ícone de setas na diagonal">
                            <img alt="Ícone de setas na diagonal" class="mr-1 mb-2" src="assets/images/icon_unico3.png" />
                        </a>
                        <span class="card-unico-badge badge badge-pill badge-danger">5</span>

                        <a href="#" title="Ícone de folhas">
                            <img alt="Ícone de folhas" class="mr-1 mb-2" src="assets/images/icon_unico1.png" />
                        </a>

                        <a href="#" title="Ícone de mira">
                            <img alt="Ícone de mira" class="mr-1 mb-2" src="assets/images/icon_unico4.png" />
                        </a>

                        <a href="#" title="Ícone de engrenagens">
                            <img alt="Ícone de engrenagens" class="mr-1 mb-2" src="assets/images/icon_unico5.png" />
                        </a>

                        <a href="#" title="Ícone de gráficos.">
                            <img alt="Ícone de gráficos." class="mr-1 mb-2" src="assets/images/icon_unico6.png" />
                        </a>

                        <a href="#" title="Ícone de pessoas em grupo">
                            <img alt="Ícone de pessoas em grupo" class="mr-1 mb-2" src="assets/images/icon_unico7.png" />
                        </a>

                        <a href="#" title="Ícone da letra P">
                            <img alt="Ícone da letra P" class="mr-1 mb-2" src="assets/images/icon_unico8.png" />
                        </a>
                    </div>
                </div>
                <div class="card-painel-fonte-data col align-self-end rodape mt-1 p-3">
                    <a class="text-sm-right painel-data px-0" href="#">Acessar o <b>Único</b></a>
                </div>
            </div>
        </div>
    </li>
    <li>
        <a href="#SubmenuSNP" class="sidebarCollapse">
            <img alt="Ícone do sistema S N P" class="" src="assets/images/icon4.png" />
        </a>
        <div class="card-snp sidebar-card mb-2">
            <div class="card-header d-flex justify-content-between align-items-center">
                <a class="sidebarAnchor" name="SubmenuSNP"><span class="d-none">Texto alternativo.</span></a>
                <div class="sidebar-card-title">
                    SNP
                </div>
                <img alt="Ícone do sistema S N P" class="sidebar-card-title-icon" src="assets/images/icon4.png" />
            </div>
            <div class="card-body pt-3 flex-row">
                <ul class="nav nav-pills card-painel-nav ml-2 mr-2 pt-1 pl-1" role="tablist">
                    <li class="nav-item">
                        <a aria-controls="pills-meuspedidos" class="nav-link active" data-toggle="pill" href="#meuspedidos" id="pills-meuspedidos" role="tab">Meus pedidos <span class="badge badge-pill p-1 badge-danger ml-1">23</span></a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="pills-novasdemandas" class="nav-link" data-toggle="pill" href="#novasdemandas" id="pills-novasdemandas" role="tab">Novas demandas <span class="badge badge-pill p-1 badge-primary ml-1">39</span></a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="meuspedidos" role="tabpanel">
                        <ul class="p-0">
                            <li class="col mt-2 pb-1 card-painel-fonte-data">
                                <a class="fonte-texto pb-2 p snp sinal03" href="#">[SNP 723699] Abertura de Pedido: <span>Comunicação Digital (Comunicação Digital/Intranet - Criação de banners/ícones (web))</span></a>
                            </li>
                            <li class="col mt-2 pb-1 card-painel-fonte-data">
                                <a class="fonte-texto pb-2 p snp sinal01" href="#">[SNP 723297] Abertura de Pedido: <span>Tag especiais-ba (Comunicação Digital/Intranet - Criação/atualização de funcionalidades)</span></a>
                            </li>
                            <li class="col mt-2 pb-1 card-painel-fonte-data">
                                <a class="fonte-texto pb-2 p snp sinal02" href="#">[SNP 719367] Andamento do Pedido: <span>MEIO - DIVAT - Alteração de layout da página do Plan Assiste da PR/MT (Comunicação Digital/Intranet - Criação de área/página)</span></a>
                            </li>
                            <li class="col mt-2 pb-1 card-painel-fonte-data">
                                <a class="fonte-texto pb-2 p snp sinal03" href="#">[SNP 719367] Abertura de Pedido: <span>CRIAÇÃO DE LAYOUT PARA O INFORMATIVO CGP (Comunicação Digital/Intranet - Criação de banners/ícones (web))</span></a>
                            </li>
                            <li class="col mt-2 pb-1 card-painel-fonte-data">
                                <a class="fonte-texto pb-2 p snp sinal03" href="#">[SNP 723148] Abertura de Pedido: <span>Processo de eleição da comissão nacional de prevenção e enfrentamento do Assédio Moral, Sexual e da Discriminação (Comunicação Digital/Intranet - Criação de área/página)</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="novasdemandas" role="tabpanel">
                        <ul class="p-0">
                            <li class="col mt-2 pb-1 card-painel-fonte-data">
                                <a class="fonte-texto pb-2 p" href="#">[SNP 719367] <span>CRIAÇÃO DE LAYOUT PARA O INFORMATIVO CGP (Comunicação Digital/Intranet - Criação de banners/ícones (web))</span></a>
                            </li>
                            <li class="col mt-2 pb-1 card-painel-fonte-data">
                                <a class="fonte-texto pb-2 p" href="#">[SNP 723699] <span>Comunicação Digital (Comunicação Digital/Intranet - Criação de banners/ícones (web))</span></a>
                            </li>
                            <li class="col mt-2 pb-1 card-painel-fonte-data">
                                <a class="fonte-texto pb-2 p" href="#">[SNP 723297] <span>Tag especiais-ba (Comunicação Digital/Intranet - Criação/atualização de funcionalidades)</span></a>
                            </li>
                            <li class="col mt-2 pb-1 card-painel-fonte-data">
                                <a class="fonte-texto pb-2 p" href="#">[SNP 719367] <span>MEIO - DIVAT - Alteração de layout da página do Plan Assiste da PR/MT (Comunicação Digital/Intranet - Criação de área/página)</span></a>
                            </li>
                            <li class="col mt-2 pb-1 card-painel-fonte-data">
                                <a class="fonte-texto pb-2 p" href="#">[SNP 723148] <span>Processo de eleição da comissão nacional de prevenção e enfrentamento do Assédio Moral, Sexual e da Discriminação (Comunicação Digital/Intranet - Criação de área/página)</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-painel-fonte-data col align-self-end rodape mt-1">
                    <a class="text-sm-right painel-data px-0" href="#">Acessar o <b>SNP</b></a>
                </div>
            </div>
        </div>
    </li>
    <li>
        <a href="#SubmenuPIN" class="sidebarCollapse">
            <img alt="Ícone do sistema PIN" class="" src="assets/images/icon5.png" />
        </a>
        <div class="card-organograma sidebar-card mb-2">
            <div class="card-header d-flex justify-content-between align-items-center">
                <a class="sidebarAnchor" name="SubmenuPIN"><span class="d-none">Texto alternativo.</span></a>
                <div class="sidebar-card-title">
                    Procurar pessoas
                </div>
                <img alt="Ícone do sistema P I N" class="sidebar-card-title-icon" src="assets/images/icon5.png" />
            </div>
            <div class="card-body">
                <div class="card-body px-2 pt-2">
                    <div class="input-group">
                        <input type="text" class="form-control border-secondary border-right-0" id="searchPIN" name="searchPIN" placeholder="Digite o nome aqui...">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary border-secondary border-left-0" type="submit"><i aria-hidden="true" class="fas fa-search fa-flip-horizontal text-grey"></i></button>
                        </div>
                    </div>
                </div>
                <div class="card-body mx-1 p-1">
                    <div class="lista-links mx-1 px-1 m-0 d-block overflow-auto" style="max-height: 300px;">
                        <table class="table table-striped table-sm">
                            <tbody>
                                <tr class="searchPIN-item" style="display: none;">
                                    <td>
                                        <a class="p-0 font-color font-weight-bold" href="#">DANIELA FAGUNDES DE OLIVEIRA JORDAO<br></a>
                                        <span class="mb-2 p-0 font-color card-grifo-registros">PR-MA/GABPC/SE/CTIC</span>
                                    </td>
                                    <td class="text-right">
                                        <span class="font-color">5297</span>
                                    </td>
                                </tr>
                                <tr class="searchPIN-item" style="display: none;">
                                    <td>
                                        <a class="p-0 font-color font-weight-bold" href="#">GEORGE MARCELLO SOARES<br></a>
                                        <span class="mb-2 p-0 font-color card-grifo-registros">PR-MA/GABPC/SE/CTIC</span>
                                    </td>
                                    <td class="text-right">
                                        <span class="font-color">6545</span>
                                    </td>
                                </tr>
                                <tr class="searchPIN-item" style="display: none;">
                                    <td>
                                        <a class="p-0 font-color font-weight-bold" href="#">MARCELLO AZEVEDO<br></a>
                                        <span class="mb-2 p-0 font-color card-grifo-registros">PRM-UNIÃO VIT/GABPRM/GABPRM1-EAF</span>
                                    </td>
                                    <td class="text-right">
                                        <span class="font-color">6548</span>
                                    </td>
                                </tr>
                                <tr class="searchPIN-item" style="display: none;">
                                    <td>
                                        <a class="p-0 font-color font-weight-bold" href="#">MARCELLO AZEVEDO<br></a>
                                        <span class="mb-2 p-0 font-color card-grifo-registros">PRM-UNIÃO VIT/GABPRM/GABPRM1-EAF</span>
                                    </td>
                                    <td class="text-right">
                                        <span class="font-color">6548</span>
                                    </td>
                                </tr>
                                <tr class="searchPIN-item" style="display: none;">
                                    <td>
                                        <a class="p-0 font-color font-weight-bold" href="#">MARCELLO KOHLER DA CUNHA BATTANOLI<br></a>
                                        <span class="mb-2 p-0 font-color card-grifo-registros">PGR/SECOM/SUBMIDIG/DIPWEB</span>
                                    </td>
                                    <td class="text-right">
                                        <span class="font-color">6549</span>
                                    </td>
                                </tr>
                                <tr class="searchPIN-item" style="display: none;">
                                    <td>
                                        <a class="p-0 font-color font-weight-bold" href="#">MARCELLO NERVES SARMENTO<br></a>
                                        <span class="mb-2 p-0 font-color card-grifo-registros">PGR/SECOM/SUBMIDIG/DIPWEB</span>
                                    </td>
                                    <td class="text-right">
                                        <span class="font-color">6519</span>
                                    </td>
                                </tr>
                                <tr class="searchPIN-noresult" style="display: none;">
                                    <td colspan="2">
                                        <p class="text-center p-2">NENHUM RESULTADO ENCONTRADO</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-painel-fonte-data col align-self-end rodape">
                    <a class="text-sm-right painel-data px-0" href="#">Acessar o <b>PIN</b></a>
                </div>
            </div>
        </div>
    </li>
    <li>
        <a href="#SubmenuAREA" class="sidebarCollapse">
            <img alt="Ícone do sistema PIN" class="" src="assets/images/icon6.png" />
        </a>
        <div class="card-organograma sidebar-card mb-2">
            <div class="card-header d-flex justify-content-between align-items-center">
                <a class="sidebarAnchor" name="SubmenuAREA"><span class="d-none">Texto alternativo.</span></a>
                <div class="sidebar-card-title">
                    Pesquisar área
                </div>
                <img alt="Ícone do sistema organograma interativo" class="sidebar-card-title-icon" src="assets/images/icon6.png" />
            </div>
            <div class="card-body px-2 pt-2">
                <form class="form-group form-inline mb-0">
                    <fieldset class="hidden w-100">
                        <div class="input-group">
                            <select class="form-control form-control-sm col-4 rounded organogramaSelect">
                                <option value="">
                                    SETORES
                                </option>
                                <option value="listaSGSECRETARIAGERAL">
                                    SG (SECRETARIA GERAL)
                                </option>
                                <option value="listaSECRETARIADEADMINISTRACAOSG">
                                    &nbsp; SECRETARIA DE ADMINISTRAÇÃO/SG
                                </option>
                            </select>
                            <select class="form-control form-control-sm col-4 mr-2 ml-2 rounded organogramaSelect">
                                <option value="">
                                    UNIDADES
                                </option>
                                <option value="listaPRAC">
                                    PR-AC
                                </option>
                                <option value="listaPRMCDOSUL">
                                    &nbsp; PRM-C. DO SUL
                                </option>
                            </select>
                            <select class="form-control form-control-sm col-4 rounded organogramaSelect">
                                <option value="">
                                    REGIONAIS
                                </option>
                                <option value="listaPRR1REGIAO">
                                    PRR1ª REGIÃO
                                </option>
                            </select>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="lista-organograma p-1 mt-2 mx-2 overflow-auto" id="listaSGSECRETARIAGERAL" style="display: none; max-height: 300px;">
                <div class="area pb-1">
                    <div class="area-header">
                        <div class="card-pesquisar card-pesquisar-vermelho py-1 pl-2 pr-4 w-100 d-block text-left" data-toggle="collapse" data-target="#SecretariaSocialPGR">
                            Secretaria de comunicação Social/PGR
                        </div>
                    </div>
                    <div id="SecretariaSocialPGR" class="collapse show" data-parent="#listaSGSECRETARIAGERAL">
                        <div onclick="$(this).parent().collapse('hide')" class="close-collapse"><i class="fas fa-times"></i></div>
                        <div class="card-body pt-1">
                            <div class="accordion pl-2" id="SecretariaSocialPGR-areas">
                                <div class="subarea pb-1">
                                    <div class="area-header">
                                        <div class="card-pesquisar card-pesquisar-azul py-1 pl-2 pr-4 w-100 d-block text-left" data-toggle="collapse" data-target="#GabineteSECOM">
                                            GABINETE/SECOM
                                        </div>
                                    </div>
                                    <div id="GabineteSECOM" class="collapse" data-parent="#SecretariaSocialPGR-areas">
                                        <div onclick="$(this).parent().collapse('hide')" class="close-collapse"><i class="fas fa-times"></i></div>
                                        <div class="card-body">
                                            GabineteSECOM
                                        </div>
                                    </div>
                                </div>
                                <div class="subarea pb-1">
                                    <div class="area-header">
                                        <div class="card-pesquisar card-pesquisar-azul py-1 pl-2 pr-4 w-100 d-block text-left" data-toggle="collapse" data-target="#AssessoriaSECOM">
                                            ASSESSORIA TÉCNICA/SECOM
                                        </div>
                                    </div>
                                    <div id="AssessoriaSECOM" class="collapse" data-parent="#SecretariaSocialPGR-areas">
                                        <div onclick="$(this).parent().collapse('hide')" class="close-collapse"><i class="fas fa-times"></i></div>
                                        <div class="card-body">
                                            AssessoriaSECOM
                                        </div>
                                    </div>
                                </div>
                                <div class="subarea pb-1">
                                    <div class="area-header">
                                        <div class="card-pesquisar card-pesquisar-azul py-1 pl-2 pr-4 w-100 d-block text-left" data-toggle="collapse" data-target="#SecretariaSECOM">
                                            SUBSECRETARIA DE COMUNICAÇÃO - ÁREA FIM/SECOM
                                        </div>
                                    </div>
                                    <div id="SecretariaSECOM" class="collapse show" data-parent="#SecretariaSocialPGR-areas">
                                        <div onclick="$(this).parent().collapse('hide')" class="close-collapse"><i class="fas fa-times"></i></div>
                                        <div class="card-body pt-1">                                            
                                            <div class="accordion pl-2" id="SecretariaSECOM-areas">
                                                <div class="subarea pb-1">
                                                    <div class="area-header">
                                                        <div class="card-pesquisar card-pesquisar-verde py-1 pl-2 pr-4 w-100 d-block text-left" data-toggle="collapse" data-target="#CordenadoriaSECOM">
                                                            COORDENADORIA DE GESTÃO DE CONTEÚDO - ÁREA FIM/SECOM
                                                        </div>
                                                    </div>
                                                    <div id="CordenadoriaSECOM" class="collapse show" data-parent="#SecretariaSECOM-areas">
                                                        <div onclick="$(this).parent().collapse('hide')" class="close-collapse"><i class="fas fa-times"></i></div>
                                                        <div class="border rounded my-1 small">
                                                            <div class="row py-0 px-1 mx-0 mb-1">
                                                                <div class="col-1 p-0 m-0 d-flex align-items-center justify-content-center">
                                                                    <div class="card-pesquisar-status-cinza">&nbsp;</div>
                                                                </div>
                                                                <div class="col-9 p-0 m-0 d-flex align-items-center">
                                                                    MARIANA CARVALHO BRAGA (CC-2) [CHEFE]
                                                                </div>
                                                                <div class="col-2 p-0 m-0 text-right d-flex align-items-center">
                                                                    4658
                                                                </div>
                                                            </div>
                                                            <div class="row py-0 px-1 mx-0 mb-1">
                                                                <div class="col-1 p-0 m-0 d-flex align-items-center justify-content-center">
                                                                    <div class="card-pesquisar-status-verde">&nbsp;</div>
                                                                </div>
                                                                <div class="col-9 p-0 m-0 d-flex align-items-center">
                                                                    KAMILLA DOS SANTOS DOURADO OLIVEIRA (CC-3) [CHEFE]
                                                                </div>
                                                                <div class="col-2 p-0 m-0 text-right d-flex align-items-center">
                                                                    6548
                                                                </div>
                                                            </div>
                                                            <div class="row py-0 px-1 mx-0 mb-1">
                                                                <div class="col-1 p-0 m-0 d-flex align-items-center justify-content-center">
                                                                    <div class="card-pesquisar-status-amarelo">&nbsp;</div>
                                                                </div>
                                                                <div class="col-9 p-0 m-0 d-flex align-items-center">
                                                                    MARESSA DE OMENA RIBEIRO (CC-2)
                                                                </div>
                                                                <div class="col-2 p-0 m-0 text-right d-flex align-items-center">
                                                                    8479
                                                                </div>
                                                            </div>
                                                            <div class="row py-0 px-1 mx-0 mb-1">
                                                                <div class="col-1 p-0 m-0 d-flex align-items-center justify-content-center">
                                                                    <div class="card-pesquisar-status-azul">&nbsp;</div>
                                                                </div>
                                                                <div class="col-9 p-0 m-0 d-flex align-items-center">
                                                                    OMENA CARVALHO RIBEIRO (CC-3) [CHEFE]
                                                                </div>
                                                                <div class="col-2 p-0 m-0 text-right d-flex align-items-center">
                                                                    7108
                                                                </div>
                                                            </div>
                                                            <div class="row py-0 px-1 mx-0 mb-1">
                                                                <div class="col-1 p-0 m-0 d-flex align-items-center justify-content-center">
                                                                    <div class="card-pesquisar-status-vermelho">&nbsp;</div>
                                                                </div>
                                                                <div class="col-9 p-0 m-0 d-flex align-items-center">
                                                                    SANTOS DOURADO CARVALHO (CC-8)
                                                                </div>
                                                                <div class="col-2 p-0 m-0 text-right d-flex align-items-center">
                                                                    5416
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="subarea pb-1">
                                                    <div class="area-header">
                                                        <div class="card-pesquisar card-pesquisar-verde py-1 pl-2 pr-4 w-100 d-block text-left" data-toggle="collapse" data-target="#CordenadoriaAImprensaSECOM">
                                                            COORDENADORIA DE ATENDIMENTO À IMPRENSA/SECOM
                                                        </div>
                                                    </div>
                                                    <div id="CordenadoriaAImprensaSECOM" class="collapse" data-parent="#SecretariaSECOM-areas">
                                                        <div onclick="$(this).parent().collapse('hide')" class="close-collapse"><i class="fas fa-times"></i></div>
                                                        <div class="card-body">
                                                            CordenadoriaAImprensaSECOM
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="subarea pb-1">
                                                    <div class="area-header">
                                                        <div class="card-pesquisar card-pesquisar-verde py-1 pl-2 pr-4 w-100 d-block text-left" data-toggle="collapse" data-target="#CordenadoriaAtendimento">
                                                            COORDENADORIA DE ATENDIMENTO E PRODUÇÃO
                                                        </div>
                                                    </div>
                                                    <div id="CordenadoriaAtendimento" class="collapse" data-parent="#SecretariaSECOM-areas">
                                                        <div onclick="$(this).parent().collapse('hide')" class="close-collapse"><i class="fas fa-times"></i></div>
                                                        <div class="card-body">
                                                            CordenadoriaAtendimento
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lista-organograma p-1 mt-2 mx-2 overflow-auto" id="listaSECRETARIADEADMINISTRACAOSG" style="display: none; max-height: 300px;">
                <div class="area pb-1">
                    <div class="area-header">
                        <div class="card-pesquisar card-pesquisar-vermelho py-1 pl-2 pr-4 w-100 d-block text-left" data-toggle="collapse" data-target="#SecretariaSocialPGR">
                            SECRETARIA DE ADMINISTRAÇÃO/SG
                        </div>
                    </div>
                </div>
            </div>
            <div class="lista-organograma p-1 mt-2 mx-2 overflow-auto" id="listaPRAC" style="display: none; max-height: 300px;">
                <div class="area pb-1">
                    <div class="area-header">
                        <div class="card-pesquisar card-pesquisar-vermelho py-1 pl-2 pr-4 w-100 d-block text-left" data-toggle="collapse" data-target="#SecretariaSocialPGR">
                            listaPRAC
                        </div>
                    </div>
                </div>
            </div>
            <div class="lista-organograma p-1 mt-2 mx-2 overflow-auto" id="listaPRMCDOSUL" style="display: none; max-height: 300px;">
                <div class="area pb-1">
                    <div class="area-header">
                        <div class="card-pesquisar card-pesquisar-vermelho py-1 pl-2 pr-4 w-100 d-block text-left" data-toggle="collapse" data-target="#SecretariaSocialPGR">
                            listaPRMCDOSUL
                        </div>
                    </div>
                </div>
            </div>
            <div class="lista-organograma p-1 mt-2 mx-2 overflow-auto" id="listaPRR1REGIAO" style="display: none; max-height: 300px;">
                <div class="area pb-1">
                    <div class="area-header">
                        <div class="card-pesquisar card-pesquisar-vermelho py-1 pl-2 pr-4 w-100 d-block text-left" data-toggle="collapse" data-target="#SecretariaSocialPGR">
                            listaPRR1REGIAO 
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-painel-fonte-data col align-self-end rodape">
                <a class="text-sm-right painel-data" href="#">Acessar o <b>Organograma interativo</b></a>
            </div>
        </div>
    </li>

    <li>
        <a href="#SubmenuGrifo" class="sidebarCollapse">
            <img alt="Ícone do sistema ORGANOGRAMA INTERATIVO" class="" src="assets/images/icon8.png" />
        </a>
        <div class="card-grifo sidebar-card mb-2">
            <div class="card-header d-flex justify-content-between align-items-center">
                <a class="sidebarAnchor" name="SubmenuGrifo"><span class="d-none">Texto alternativo.</span></a>
                <div class="sidebar-card-title">
                    GRIFO
                </div>
                <img alt="Ícone do sistema grifo" class="sidebar-card-title-icon" src="assets/images/icon8.png" />
            </div>
            <div class="card-body pt-3 d-flex">
                <div class="col-4">
                    <div class="card-grifo-caixa-relogio d-flex flex-column justify-content-center align-items-center">
                        <i class="far fa-clock card-grifo-relogio"></i>
                        <div class="grifo-font-acesso m-0">
                            Acesso hoje:
                        </div>
                        <div class="card-grifo-fonte-hora m-0">
                            12h15
                        </div>
                    </div>
                </div>
                <div class="col-8 card-grifo-registros">
                    <div class="row pl-3 pb-2 d-flex justify-content-center">
                        <b>Último registro</b> , <span class="ml-2">21/06/2019</span>
                    </div>
                    <div class="row pl-3">
                        <div class="col-6 card-grifo-divider text-center">
                            <img alt="hora entrada" class="" src="assets/images/dashboard-grifo-entrada.png" />
                            <p class="small font-color m-0">
                                Entrada:
                            </p>
                            <p class="font-bold m-0">
                                12h15
                            </p>
                        </div>
                        <div class="col-6 text-center">
                            <img alt="hora saída" class="" src="assets/images/dashboard-grifo-saida.png" />
                            <p class="small font-color m-0">
                                Saída:
                            </p>
                            <p class="font-bold m-0">
                                19h15
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-painel-fonte-data col align-self-end rodape">
                <a class="text-sm-right painel-data px-0" href="#">Acessar o <b>Grifo</b></a>
            </div>
        </div>
    </li>
    <li>
        <a href="#SubmenuHorus" class="sidebarCollapse">
            <img alt="Ícone do sistema hórus" class="" src="assets/images/icon7.png" />
        </a>
        <div class="card-horus sidebar-card mb-2">
            <div class="card-header d-flex justify-content-between align-items-center">
                <a class="sidebarAnchor" name="SubmenuHorus"><span class="d-none">Texto alternativo.</span></a>
                <div class="sidebar-card-title">
                    HÓRUS
                </div>
                <img alt="Ícone do sistema hórus" class="sidebar-card-title-icon" src="assets/images/icon7.png" />
            </div>
            <div class="card-body">
                <div class="row m-0 p-2">
                    <a class="col-3 p-0" href="#" title="Ícone de identidade"><img alt="Ícone de identidade" class="col p-2" src="assets/images/horus1.png" /></a> <a class="col-3 p-0" href="#" title="Ícone de alvo com flecha"><img alt="Ícone de alvo com flecha" class="col p-2" src="assets/images/horus2.png" /></a> <a class="col-3 p-0" href="#" title="Ícone de coqueiro"><img alt="Ícone de coqueiro" class="col p-2" src="assets/images/horus3.png" /></a> <a class="col-3 p-0" href="#" title="Ícone de cardiograma"><img alt="Ícone de cardiograma" class="col p-2" src="assets/images/horus4.png" /></a> <a class="col-3 p-0" href="#" title="Ícone de festa"><img alt="Ícone de festa" class="col p-2" src="assets/images/horus5.png" /></a> <a class="col-3 p-0" href="#" title="Ícone de polegar de aceitação"><img alt="Ícone de polegar de aceitação" class="col p-2" src="assets/images/horus6.png" /></a> <a class="col-3 p-0" href="#" title="Ícone de casa com sinal sem fio"><img alt="Ícone de casa com sinal sem fio" class="col p-2" src="assets/images/horus7.png" /></a> <a class="col-3 p-0" href="#" title="Ícone de dentista"><img alt="Ícone de dentista" class="col p-2" src="assets/images/horus8.png" /></a> <a class="col-3 p-0" href="#" title="Ícone de gráficos"><img alt="Ícone de gráficos" class="col p-2" src="assets/images/horus9.png" /></a> <a class="col-3 p-0" href="#" title="Ícone de estetoscópio médico"><img alt="Ícone de estetoscópio médico" class="col p-2" src="assets/images/horus10.png" /></a> <a class="col-3 p-0" href="#" title="Ícone de estetoscópio médico"><img alt="Ícone de estetoscópio médico" class="col p-2" src="assets/images/horus10.png" /></a> <a class="col-3 p-0" href="#" title="Ícone de cadeado"><img alt="Ícone de cadeado" class="col p-2" src="assets/images/horus11.png" /></a> <a class="col-3 p-0" href="#" title="Ícone de vita"><img alt="Ícone de vita" class="col p-2" src="assets/images/horus12.png" /></a>
                </div>
            </div>
            <div class="card-painel-fonte-data col align-self-end rodape mt-1">
                <a class="text-sm-right painel-data px-0" href="#">Acessar o <b>Hórus</b></a>
            </div>
        </div>
    </li>
    <li>
        <div class="card-sistemasnacionais sidebar-card mb-2 card-nacionais-bg">
            <div class="card-header py-2 card-nacionais-bg">
                <div class="sidebar-card-title">
                    SISTEMAS NACIONAIS
                </div>
            </div>
            <div class="card-body pt-3">
                <div class="row m-0 px-2">
                    <a class="col-3 p-1 text-center small" href="#" title="Ícone do sistema fênix"><img alt="Ícone do sistema fênix" class="col p-1" src="assets/images/nacionais1.png" />Fênix</a> <a class="col-3 p-1 text-center small" href="#" title="Ícone do sistema pericial"><img alt="Ícone do sistema pericial" class="col p-1" src="assets/images/nacionais2.png" />Pericial</a> <a class="col-3 p-1 text-center small" href="#" title="Ícone do sistema cálculo"><img alt="Ícone do sistema cálculo" class="col p-1" src="assets/images/nacionais3.png" />Cálculo</a> <a class="col-3 p-1 text-center small" href="#" title="Ícone do sistema S I S A M"><img alt="Ícone do sistema S I S A M" class="col p-1" src="assets/images/nacionais4.png" />SISAM</a> <a class="col-3 p-1 text-center small" href="#" title="Ícone do sistema fênix."><img alt="Ícone do sistema fênix." class="col p-1" src="assets/images/nacionais5.png" />Fênix</a> <a class="col-3 p-1 text-center small" href="#" title="Ícone do sistema fala M P F"><img alt="Ícone do sistema fala M P F" class="col p-1" src="assets/images/nacionais6.png" />Fala MPF</a> <a class="col-3 p-1 text-center small" href="#" title="Ícone do sistema biblioteca digital"><img alt="Ícone do sistema biblioteca digital" class="col p-1" src="assets/images/nacionais7.png" />Biblioteca Digital</a> <a class="col-3 p-1 text-center small" href="#" title="Ícone do sistema planassiste"><img alt="Ícone do sistema planassiste" class="col p-1" src="assets/images/nacionais8.png" />Planassiste</a>
                </div>
                <form class="mx-0 px-0">
                    <div class="form-group row px-2 py-2 mx-0 pb-0 mb-0">
                        <div class="col mx-0 px-0">
                            <label class="labelHidden" for="sistemasnacionais">sistemas nacionais</label>
                            <select class="form-control form-control-sm" id="sistemasnacionais" name="sistemasnacionais">
                                <option>
                                    Mais Sistemas
                                </option>
                                <option>
                                    Fênix
                                </option>
                                <option>
                                    Fala MPF
                                </option>
                                <option>
                                    Biblioteca
                                </option>
                                <option>
                                    Planassiste
                                </option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </li>
    <li>
        <div class="card-sistemaslocais sidebar-card mb-2">
            <div class="card-header py-2">
                <div class="sidebar-card-title">
                    SISTEMAS LOCAIS
                </div>
            </div>
            <div class="card-body pt-3">
                <div class="row m-0 px-2">
                    <a class="col-3 p-1 text-center small" href="#" title="Ícone do sistema fênix"><img alt="Ícone do sistema fênix" class="col p-1" src="assets/images/nacionais1.png" />Fênix</a> <a class="col-3 p-1 text-center small" href="#" title="Ícone do sistema pericial"><img alt="Ícone do sistema pericial" class="col p-1" src="assets/images/nacionais2.png" />Pericial</a> <a class="col-3 p-1 text-center small" href="#" title="Ícone do sistema cálculo"><img alt="Ícone do sistema cálculo" class="col p-1" src="assets/images/nacionais3.png" />Cálculo</a> <a class="col-3 p-1 text-center small" href="#" title="Ícone do sistema S I S A M"><img alt="Ícone do sistema S I S A M" class="col p-1" src="assets/images/nacionais4.png" />SISAM</a> <a class="col-3 p-1 text-center small" href="#" title="Ícone do sistema fênix."><img alt="Ícone do sistema fênix." class="col p-1" src="assets/images/nacionais5.png" />Fênix</a> <a class="col-3 p-1 text-center small" href="#" title="Ícone do sistema fala M P F"><img alt="Ícone do sistema fala M P F" class="col p-1" src="assets/images/nacionais6.png" />Fala MPF</a> <a class="col-3 p-1 text-center small" href="#" title="Ícone do sistema biblioteca digital"><img alt="Ícone do sistema biblioteca digital" class="col p-1" src="assets/images/nacionais7.png" />Biblioteca Digital</a> <a class="col-3 p-1 text-center small" href="#" title="Ícone do sistema planassiste"><img alt="Ícone do sistema planassiste" class="col p-1" src="assets/images/nacionais8.png" />Planassiste</a>
                </div>
                <form class="mx-0 px-0">
                    <div class="form-group row px-2 py-2 pb-0 mx-0 mb-0">
                        <div class="col mx-0 px-0">
                            <label class="labelHidden" for="sistemaslocais">sistemas locais</label>
                            <select class="form-control form-control-sm" id="sistemaslocais" name="sistemaslocais">
                                <option>
                                    Mais Sistemas
                                </option>
                                <option>
                                    Fênix
                                </option>
                                <option>
                                    Fala MPF
                                </option>
                                <option>
                                    Biblioteca
                                </option>
                                <option>
                                    Planassiste
                                </option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </li>
</ul>

<div class="dark-sidebarscreen flex-column open" id="darkScreen"></div>