.checkColor1.dropdown-item.selected .check-mark {
    border-color: #225282 !important;
    background-color: #225282 !important;
}

.checkColor2.dropdown-item.selected .check-mark {
    border-color: #3299FD !important;
    background-color: #3299FD !important;
}

.checkColor3.dropdown-item.selected .check-mark {
    border-color: #FB9917 !important;
    background-color: #FB9917 !important;
}

.checkColor4.dropdown-item.selected .check-mark {
    border-color: #2CC93C !important;
    background-color: #2CC93C !important;
}

.checkColor5.dropdown-item.selected .check-mark {
    border-color: #772B99 !important;
    background-color: #772B99 !important;
}

.checkColor6.dropdown-item.selected .check-mark {
    border-color: #F2CB3F !important;
    background-color: #F2CB3F !important;
}

.checkColor7.dropdown-item.selected .check-mark {
    border-color: #FF3363 !important;
    background-color: #FF3363 !important;
}

.checkColor1.dropdown-item .check-mark {
    border-color: #225282 !important;
}

.checkColor2.dropdown-item .check-mark {
    border-color: #3299FD !important;
}

.checkColor3.dropdown-item .check-mark {
    border-color: #FB9917 !important;
}

.checkColor4.dropdown-item .check-mark {
    border-color: #2CC93C !important;
}

.checkColor5.dropdown-item .check-mark {
    border-color: #772B99 !important;
}

.checkColor6.dropdown-item .check-mark {
    border-color: #F2CB3F !important;
}

.checkColor7.dropdown-item .check-mark {
    border-color: #FF3363 !important;
}

.color1 {
    color: #225282 !important;
}

.color2 {
    color: #3299FD !important;
}

.color3 {
    color: #FB9917 !important;
}

.color4 {
    color: #2CC93C !important;
}

.color5 {
    color: #772B99 !important;
}

.color6 {
    color: #F2CB3F !important;
}

.color7 {
    color: #FF3363 !important;
}

.borderColor1 {
    border-color: #225282 !important;
}

.borderColor2 {
    border-color: #3299FD !important;
}

.borderColor3 {
    border-color: #FB9917 !important;
}

.borderColor4 {
    border-color: #2CC93C !important;
}

.borderColor5 {
    border-color: #772B99 !important;
}

.borderColor6 {
    border-color: #F2CB3F !important;
}

.borderColor7 {
    border-color: #FF3363 !important;
}

.backgroundColor1 {
    background-color: #225282 !important;
}

.backgroundColor2 {
    background-color: #3299FD !important;
}

.backgroundColor3 {
    background-color: #FB9917 !important;
}

.backgroundColor4 {
    background-color: #2CC93C !important;
}

.backgroundColor5 {
    background-color: #772B99 !important;
}

.backgroundColor6 {
    background-color: #F2CB3F !important;
}

.backgroundColor7 {
    background-color: #FF3363 !important;
}

