* {
    font-family: 'Roboto Condensed', sans-serif;
}

#menu-caso a {
    font-size: 14px;
}

a {
    font-weight: bold;
    color: black;
}

a:hover {
    font-weight: bold;
    color: #235380;
    text-decoration: none;
}

main .container {
    padding-bottom: 30px !important;
}

input {
    border: 1px solid;
}

.nav-tabs a {
    font-weight: normal;
}

.nav-item.active a {
    color: #109FC9 !important;
}
.nav-item a {
    font-weight: normal !important;
}

.destaque {
    color: #1C71B8;    
}

h1, h2, h3, h4 {
    color: #3F5878;
    margin: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: #466191;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1em;
}

.post-titulo {
    color: #5894AB !important;
}

.post-titulo:hover {
    color: #27404a !important;
}

.post-data {
    font-size: 14px;
    margin-top: 20px;
    color: gray;
}

.rounded {
    border-radius: 6px !important;
    overflow: hidden;
}

.border-secondary {
    border-color: #dddddd !important;
}

.check-instancia {
    color: #25435D;    
}

.resultados-numero {
    background: #BCD9FB;
    color: #25435D;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.resultados-texto {
    background: #F1F8FF;
    color: #25435D;
    font-size: 12px;
    text-align: center;
    min-height: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 5px 0;
}

.resultados-tabs .nav-link {
    background-color: transparent;
    color: #2E4254;
}

.resultados-tabs .nav-item .active {
    -webkit-box-shadow: inset 0px 0px 5px -2px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0px 0px 5px -2px rgba(0,0,0,0.2);
    box-shadow: inset 0px 5px 6px -3px rgba(0,0,0,0.2);
    color: white !important;
    border-radius: 0 !important;
}

.resultados-tabs .tab-text {
    border-top: 4px solid;
    margin: 0 1px;
}

.cartao {
    margin-bottom: 30px;
    background: #F2F2F2;
    min-height: 120px;
    color: #2A4257;
    padding: 30px 10px;
}

.cartao-destaque {
    background: #FFEBD2;
}

.cartao-numero {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.cartao-texto {
    font-size: 16px;
    text-align: center;
    margin: 0;
}

.cartao-icone {
    position: absolute;
    right: 20px;
    top: 10px;
    margin: 0;
    width: 48px;
}

.mais-numeros p {
    font-size: 14px;
    line-height: 15px;
    margin: 5px 0 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}