/* XXL Large devices (desktops, less than 1440px)*/
@media (max-width: 1439.98px) { 

    #content {
        padding-right: 5px;
    }

}

/* GG Medium devices (tablets, less than 1300px)*/
@media (max-width: 1299.98px) { 

    .pageSidebarRight {
        flex: 100% !important;
        max-width: none !important;
        float: right !important;
        clear: both !important;
        margin-top: 15px !important;
    }

    .pageSidebarRight .col-right {
        flex: 50%;
        padding-right: 15px !important;
    }
    
}

/* XL Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { 
    
    .border-xl-0 {
        border: 0 !important;
    }
    
    .mw-xl-5 { max-width: 5% !important; }
    .mw-xl-10 { max-width: 10% !important; }
    .mw-xl-15 { max-width: 15% !important; }
    .mw-xl-20 { max-width: 20% !important; }
    .mw-xl-25 { max-width: 25% !important; }
    .mw-xl-30 { max-width: 30% !important; }
    .mw-xl-35 { max-width: 35% !important; }
    .mw-xl-40 { max-width: 40% !important; }
    .mw-xl-45 { max-width: 45% !important; }
    .mw-xl-50 { max-width: 50% !important; }
    .mw-xl-55 { max-width: 55% !important; }
    .mw-xl-60 { max-width: 60% !important; }
    .mw-xl-65 { max-width: 65% !important; }
    .mw-xl-70 { max-width: 70% !important; }
    .mw-xl-75 { max-width: 75% !important; }
    .mw-xl-80 { max-width: 80% !important; }
    .mw-xl-85 { max-width: 85% !important; }
    .mw-xl-90 { max-width: 90% !important; }
    .mw-xl-95 { max-width: 95% !important; }
    .mw-xl-100 { max-width: 100% !important; }
    
}

/* LG Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 
    
    .border-lg-0 {
        border: 0 !important;
    }

    .pageSidebarRight .col-right {
        flex: 100%;
        padding-right: 15px !important;
    }

    #sidebar {
        min-width: 5.5rem !important;
        max-width: 5.5rem !important;
    }
    
    .sidebarOpen {
        opacity: 0.5;
    }

    #sidebar.open {    
        position: absolute;
        z-index: 100;
        border-bottom-right-radius: 10px;
        margin-top: 0;
        border-top-right-radius: 0;
        min-width: none !important;
        max-width: none !important;
    }
    
    #sidebar i {
        font-size: .9em;
        margin: 0;
    }
    
    .sidebarCollapse {
        display: block !important;
    }
    
    .sidebar-card {
        display: none !important;
    }
    
    .open .sidebarCollapse {
        display: none !important;
    }
    
    .open .sidebar-card {
        display: block !important;
    }
    
    .font-painel {
        padding-top: 5px!important;
        font-size: 14px !important;
        display: block;
    }
    
    .open .font-painel {
        padding-top: 0!important;
        font-size: 17px !important;
    }
    
    .font-sistemas {
        display: none;
    }
    
    .mw-lg-5 { max-width: 5% !important; }
    .mw-lg-10 { max-width: 10% !important; }
    .mw-lg-15 { max-width: 15% !important; }
    .mw-lg-20 { max-width: 20% !important; }
    .mw-lg-25 { max-width: 25% !important; }
    .mw-lg-30 { max-width: 30% !important; }
    .mw-lg-35 { max-width: 35% !important; }
    .mw-lg-40 { max-width: 40% !important; }
    .mw-lg-45 { max-width: 45% !important; }
    .mw-lg-50 { max-width: 50% !important; }
    .mw-lg-55 { max-width: 55% !important; }
    .mw-lg-60 { max-width: 60% !important; }
    .mw-lg-65 { max-width: 65% !important; }
    .mw-lg-70 { max-width: 70% !important; }
    .mw-lg-75 { max-width: 75% !important; }
    .mw-lg-80 { max-width: 80% !important; }
    .mw-lg-85 { max-width: 85% !important; }
    .mw-lg-90 { max-width: 90% !important; }
    .mw-lg-95 { max-width: 95% !important; }
    .mw-lg-100 { max-width: 100% !important; }
    
}

/* MD Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 

    .pageSidebarLeft {
        max-width: none !important;
    }

    .pageSidebarRight {
        max-width: none;
    }
    
    .border-md-0 {
        border: 0 !important;
    }
    
    .card-rapido, .card-rapido * {
        background: transparent;
        box-shadow: none;
    }
    
    .card-rapido {
        height: 50px;
        margin-top: -4px;
    }
    
    .icon-rapido {
        float: right;
        max-width: 40px !important;
        margin: 5px 3px !important;
    }

    .pageSidebarRight {
        margin-top: 0 !important;
    }

    .pageSidebarRight .col-right {
        padding-right: 0 !important;
    }
    
    .mw-md-5 { max-width: 5% !important; }
    .mw-md-10 { max-width: 10% !important; }
    .mw-md-15 { max-width: 15% !important; }
    .mw-md-20 { max-width: 20% !important; }
    .mw-md-25 { max-width: 25% !important; }
    .mw-md-30 { max-width: 30% !important; }
    .mw-md-35 { max-width: 35% !important; }
    .mw-md-40 { max-width: 40% !important; }
    .mw-md-45 { max-width: 45% !important; }
    .mw-md-50 { max-width: 50% !important; }
    .mw-md-55 { max-width: 55% !important; }
    .mw-md-60 { max-width: 60% !important; }
    .mw-md-65 { max-width: 65% !important; }
    .mw-md-70 { max-width: 70% !important; }
    .mw-md-75 { max-width: 75% !important; }
    .mw-md-80 { max-width: 80% !important; }
    .mw-md-85 { max-width: 85% !important; }
    .mw-md-90 { max-width: 90% !important; }
    .mw-md-95 { max-width: 95% !important; }
    .mw-md-100 { max-width: 100% !important; }

}

/* SM Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 

    #sidebar {
        position: absolute;
        z-index: 100;
        border-bottom-right-radius: 10px;
        margin-top: 12px;
    }
    
    .sidebarOpen {
        opacity: 0.5;
    }

    #sidebar {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        min-width: 3rem !important;
        max-width: 3rem !important;
    }

    #sidebar.open {        
        margin-top: 0;
        border-top-right-radius: 0;
        min-width: none !important;
        max-width: none !important;
    }
    
    #sidebar i {
        font-size: 1.1em;
        margin: 5px;
    }
    
    .sidebarOffsetLeft {
        padding-left: 50px !important;
    }
    
    .sidebarCollapse, #sidebar ul.components {
        display: none !important;
    }
    
    #sidebar.active ul li .sidebar-card, #sidebar.open ul.components {
        display: block !important;
    }
    
    .font-painel {
        display: none;
    }
    
    .border-sm-0 {
        border: 0 !important;
    }
    
}

/* Extra large devices (large desktops)*/
/* No media query since the extra-large breakpoint has no upper bound on its width*/


.w-5 { width: 5% !important; }
.w-10 { width: 10% !important; }
.w-15 { width: 15% !important; }
.w-20 { width: 20% !important; }
.w-25 { width: 25% !important; }
.w-30 { width: 30% !important; }
.w-35 { width: 35% !important; }
.w-40 { width: 40% !important; }
.w-45 { width: 45% !important; }
.w-50 { width: 50% !important; }
.w-55 { width: 55% !important; }
.w-60 { width: 60% !important; }
.w-65 { width: 65% !important; }
.w-70 { width: 70% !important; }
.w-75 { width: 75% !important; }
.w-80 { width: 80% !important; }
.w-85 { width: 85% !important; }
.w-90 { width: 90% !important; }
.w-95 { width: 95% !important; }
.w-100 { width: 100% !important; }