/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */
.navbar {
    background-image: linear-gradient(to right, #a8008b, #f30fd4);
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    background: #dd79ed;
}
    #sidebar .color-sidebar-btn {
        color: #eaaff4;
    }
    #sidebar .color-sidebar-btn:hover {
        color: #fff;
    }
    #sidebar .card-header {
        background-color: rgba(266, 16, 213, 0.03);
    }
    #sidebar .font-sistemas {
        color: #ffe4fb;
    }

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    background-color: #ffe4fb;
}
