<ul class="navbar-nav d-block">
    <li class="nav-item float-right ml-4">
        <a class="nav-link" href="#content">
            <span class="d-none d-xl-inline-block">Ir conteúdo</span>
        </a>
    </li>
    <li class="nav-item float-right ml-3">
        <a class="nav-link" href="http://www.vlibras.gov.br/">
            <img class="mr-2" src="assets/images/acessibilidade/acessibilidade-vlibras.png" alt="VLibras" style="height: 20px;" />
            <span class="d-none d-md-inline-block">VLibras</span>
        </a>
    </li>
    <li class="nav-item active float-right ml-4">
        <a class="nav-link" href="sitemap.html">
            <img class="mr-2" src="assets/images/acessibilidade/acessibilidade-mapadosite.png" alt="Mapa do site" style="height: 20px;" />
            <span class="d-none d-md-inline-block">Mapa do site</span>
        </a>
    </li>
    <li class="nav-item float-right ml-3 font">
        <a class="nav-link float-right ml-3 font-mais" href="#">
            A+
        </a>
        <a class="nav-link float-right ml-3 font-padrao" href="#">
            <span class="d-none d-md-inline-block">Tamanho Padrão</span>
        </a>
        <a class="nav-link float-right ml-3 font-menos" href="#">
            A-
        </a>
        <img src="assets/images/acessibilidade/acessibilidade-fonte.png" alt="Font menor" style="height: 20px; margin-top: 6px;" />
    </li>
    <li class="nav-item float-right ml-3">
        <a class="nav-link contraste" href="#">
            <img class="mr-2" src="assets/images/acessibilidade/acessibilidade-contraste.png" alt="Alto Contraste" style="height: 20px;" />
            <span class="d-none d-md-inline-block">Alto Contraste</span>
        </a>
    </li>
    <li class="nav-item float-right ml-3">
        <a class="nav-link" href="acessibilidade.html">
            <img class="mr-2" src="assets/images/acessibilidade/acessibilidade-pcd.png" alt="Acessibilidade" style="height: 20px;" />
            <span class="d-none d-md-inline-block">Acessibilidade</span>
        </a>
    </li>
</ul>