<!--navegador para conteúdos internos-->
<nav class="navegador-conteudo text-right" id="navConteudos">
    <ul>
        <li>
            <a class="conteudo-1" href="#conteudo-1" accesskey="1"></a>
        </li>
        <li>
            <a class="conteudo-2" href="#conteudo-2" accesskey="2"></a>
        </li>
        <li>
            <a class="conteudo-3" href="#conteudo-3" accesskey="3"></a>
        </li>
        <li>
            <a class="conteudo-4" href="#conteudo-4" accesskey="4"></a>
        </li>
        <li>
            <a class="conteudo-5" href="#conteudo-5" accesskey="5"></a>
        </li>
        <li>
            <a class="conteudo-6" href="#conteudo-6" accesskey="6"></a>
        </li>
    </ul>
</nav>
<div id="giga-banner" class="alert fade show">
    <button id="fecha-giga" type="button" class="close text-uppercase font-weight-bold p-1" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">Fechar <b>X</b></span>
    </button>
    <a href="#">
        <img alt="Banner principal da página home" class="border" src="assets/images/gigabanner.jpg">
    </a>
</div>
<!--Card Destaques Principais-->
<a class="ancora-conteudo" id="conteudo-1" name="conteudo-1"></a>
<div class="componente-destaques-body my-3 px-3 pb-2">
    <div class="destaques-principais text-center mx-auto mb-2 text-uppercase">
        Destaques Principais
    </div>
    <div class="row px-0 mx-0">
        <div class="col-xl-8 pr-0 pl-0 pr-xl-3 flex-row">
            <div class="carousel slide carousel-background" data-ride="carousel" id="carousel-destaques">
                <div class="carousel-inner border">
                    <div class="carousel-item active">
                        <a href="#"><img alt="Primeiro slide" class="d-block w-100" src="assets/images/banner.png" /></a>
                    </div>
                    <div class="carousel-item">
                        <a href="#"><img alt="Segundo slide" class="d-block w-100" src="assets/images/carousel_criminal.png" /></a>
                    </div>
                    <div class="carousel-item">
                        <a href="#"><img alt="Terceiro slide" class="d-block w-100" src="assets/images/carousel_direitos_sociais.png" /></a>
                    </div>
                    <div class="carousel-item">
                        <a href="#"><img alt="Quarto slide" class="d-block w-100" src="assets/images/carousel_gestao_pessoas.png" /></a>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#carousel-destaques"></li>
                    <li data-slide-to="1" data-target="#carousel-destaques"></li>
                    <li data-slide-to="2" data-target="#carousel-destaques"></li>
                    <li data-slide-to="3" data-target="#carousel-destaques"></li>
                </ol>
            </div>
            <span class="divisor-componente w-100 mb-2 d-block d-xl-none"></span>
            <div class="noticia-lg border-0 mb-3 mt-2 mt-xl-4 mb-xl-0">
                <div class="row m-0 p-0">
                    <div class="col-sm-6 p-0 mb-3 pr-0 pr-sm-3">
                        <a href="#">
                            <picture>
                                <img alt="Notícia principal da sessão destaques principais" class="w-100 d-block m-auto" src="assets/images/noticia.png" />
                            </picture>
                        </a>
                    </div>
                    <div class="col-sm-6 p-0 mb-3">
                        <a href="#">
                            <p class="headline-font text-uppercase">
                                Chapéu Principal
                            </p>
                        </a>
                        <a href="#">
                            <a class="h2 card-title font-semibold-h2" href="#">CSMPF aprova projeto que prevê trabalho remoto de membros afastados para capacitação</a>
                            <p class="card-text subtitulo-noticia-font pt-2 h5">
                                Autorização para a hipótese de teletrabalho durante afastamento será analisada caso a caso pelos conselheiros.
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <span class="divisor-componente w-100 mb-2 d-block d-xl-none"></span>
        <div class="col-xl-4 p-0 d-flex flex-column-reverse flex-xl-column">
            <div class="video">
                <span class="divisor-componente w-100 mb-2 d-block d-xl-none"></span>
                <div class="card-header font-bold border-0 d-flex align-items-center">
                    <img alt="tv mpf" class="float-left mr-2" src="assets/images/icons/icone-video.png">
                    <span>TV MPF</span>
                </div>
                <div class="videoPlayer rounded overflow-hidden">
                    <video id='my-video' class='video-js vjs-default-skin vjs-16-9 vjs-big-play-centered' controls preload='auto' data-setup='{"fluid": true}'>
                        <source src='https://www.youtube.com/watch?v=H__qP2vx4Sk' type='video/youtube'>
                        <p class='vjs-no-js'>
                            Para assistir a este vídeo, ative o JavaScript e considere a possibilidade de fazer upgrade para um navegador da Web compatível com vídeo em HTML5
                        </p>
                    </video>
                </div>
                <p class="pt-2 m-0 subtitulo-noticia-font">
                    Campanha 70 anos da Declaração dos Direitos Humanos - CNMP
                </p>
                <a href="#" class="text-right float-right font-bold d-block d-md-none">+ Vídeos</a>
                <span class="divisor-componente w-100 mb-2"></span>
            </div>
            <div class="row m-0 p-0">
                <div class="col-md col-xl-12 m-0 p-0 noticia-sm">
                    <a href="#" class="row m-0 p-0">
                        <div class="col-4 pl-0 mx-0 mb-2">
                            <picture>
                                <img alt="Primeira notícia menor da sessão destaques principais" src="assets/images/thumbnail-noticia1.png" />
                            </picture>
                        </div>
                        <div class="col-8 mx-0 p-0 font-semibold mb-2">
                            <p>#AbrilIndígena: Interesse Público especial aborda os desafios dos povos para a preservação da cultura e garantia de direitos</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-1 d-block d-xl-none"></div>
                <div class="col-md col-xl-12 m-0 p-0 noticia-sm">
                    <span class="divisor-componente w-100 mb-2 d-block d-md-none d-xl-block"></span>
                    <a href="#" class="row m-0 p-0">
                        <div class="col-4 pl-0 mx-0 mb-2">
                            <picture>
                                <img alt="Segunda notícia menor da sessão destaques principais" src="assets/images/thumbnail-noticia2.png" />
                            </picture>
                        </div>
                        <div class="col-8 mx-0 p-0 font-semibold mb-2">
                            <p>[Atualizada] ProIdiomas: acesse o resultado final pré-seleção de caráter classificatório</p>
                        </div>
                    </a>
                    <span class="divisor-componente w-100 mb-2 d-none d-xl-block"></span>
                    <a href="#" class="text-right float-right font-bold">+ Notícias</a>
                </div>
            </div>
        </div>
    </div>
</div>
<a class="ancora-conteudo" id="conteudo-2" name="conteudo-2"></a>
<div class="componente-divisor-body row mx-0 px-0 d-flex py-2 justify-content-between align-items-center mt-4 mt-md-0 mb-2">
    <div class="col m-0 p-0">
        <div class="divisor-unidade pb-1"></div>
        <div class="divisor-unidade pb-1"></div>
        <div class="divisor-unidade pb-1"></div>
        <div class="divisor-unidade pb-1"></div>
    </div>
    <div class="col text-center" style="max-width: 240px;">
        <p class="h3 font-color-claro pr-1">
            <small>DESTAQUES</small>
            <small><strong class="font-bold">PR-AM</strong></small>
        </p>
    </div>
    <div class="col m-0 p-0">
        <div class="divisor-unidade pb-1"></div>
        <div class="divisor-unidade pb-1"></div>
        <div class="divisor-unidade pb-1"></div>
        <div class="divisor-unidade pb-1"></div>
    </div>
</div>
<!--Card Minha Unidade-->
<a class="ancora-conteudo" id="conteudo-2" name="conteudo-2"></a>
<div class="componente-destaques-body px-3 pb-2 mb-3">
    <div class="minha-unidade text-center mx-auto mb-2 text-uppercase">
        Minha Unidade
    </div>
    <div class="row px-0 mx-0">
        <div class="col-xl-8 pr-0 pl-0 pr-xl-3 flex-row">
            <div class="carousel slide carousel-background" data-ride="carousel" id="carousel-minhaunidade">
                <div class="carousel-inner border">
                    <div class="carousel-item active">
                        <a href="#"><img alt="Primeiro slide" class="d-block w-100" src="assets/images/carousel_gestao_pessoas.png" /></a>
                    </div>
                    <div class="carousel-item">
                        <a href="#"><img alt="Segundo slide" class="d-block w-100" src="assets/images/carousel_direitos_sociais.png" /></a>
                    </div>
                    <div class="carousel-item">
                        <a href="#"><img alt="Terceiro slide" class="d-block w-100" src="assets/images/carousel_saude.png" /></a>
                    </div>
                    <div class="carousel-item">
                        <a href="#"><img alt="Quarto slide" class="d-block w-100" src="assets/images/carousel_direitos_sociais.png" /></a>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#carousel-minhaunidade"></li>
                    <li data-slide-to="1" data-target="#carousel-destaques"></li>
                    <li data-slide-to="2" data-target="#carousel-destaques"></li>
                    <li data-slide-to="3" data-target="#carousel-destaques"></li>
                </ol>
            </div>
            <span class="divisor-componente w-100 mb-2 d-block d-xl-none"></span>
            <div class="noticia-lg border-0 mb-3 mt-3 mb-xl-0">
                <div class="row m-0 p-0">
                    <div class="col-sm-6 p-0 mb-3 pr-0 pr-sm-3">
                        <a href="#">
                            <picture>
                                <img alt="Notícia principal da sessão destaques principais" class="w-100 d-block m-auto" src="assets/images/noticia_minhas_unidades.png" />
                            </picture>
                        </a>
                    </div>
                    <div class="col-sm-6 p-0 mb-3">
                        <p class="headline-font">
                            CRIMINAL
                        </p>
                        <a class="h2 card-title font-semibold-h2" href="#">Últimas turmas da Certificação de Ofícios concluem capacitação presencial na PRM-Tabatinga e na PR/AM</a>
                        <p class="card-text subtitulo-noticia-font pt-2 h5">
                            A capacitação visa a melhoria e padronização dos processos de trabalho nos gabinetes dos ofícios das Procuradorias do MPF
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <span class="divisor-componente w-100 mb-2 d-block d-xl-none"></span>
        <div class="col-xl-4 p-0">
            <div class="row m-0 p-0">
                <div class="col-md col-xl-12 m-0 p-0 noticia-sm">
                    <a href="#" class="row m-0 p-0">
                        <div class="col-4 pl-0 mx-0 mb-2">
                            <picture>
                                <img alt="Primeira notícia menor da sessão destaques principais" src="assets/images/thumbnail-noticia1_minhas_unidades.png" />
                            </picture>
                        </div>
                        <div class="col-8 mx-0 p-0 font-semibold mb-2">
                            <p>Gente nova: conheça os novos estagiários da PR-AM</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-1 d-block d-xl-none"></div>
                <div class="col-md col-xl-12 m-0 p-0 noticia-sm">
                    <span class="divisor-componente w-100 mb-2 d-block d-md-none d-xl-block"></span>
                    <a href="#" class="row m-0 p-0">
                        <div class="col-4 pl-0 mx-0 mb-2">
                            <picture>
                                <img alt="Segunda notícia menor da sessão destaques principais" src="assets/images/thumbnail-noticia2_minhas_unidades.png" />
                            </picture>
                        </div>
                        <div class="col-8 mx-0 p-0 font-semibold mb-2">
                            <p>Projeto “Caminhos das Águas” é instituído no MPF/AM</p>
                        </div>
                    </a>
                </div>
            </div>
            <span class="divisor-componente w-100 mb-2 d-block d-xl-none"></span>
            <div class="row m-0 p-0">
                <div class="col-md col-xl-12 m-0 p-0 noticia-sm">
                    <span class="divisor-componente w-100 mb-2 d-block d-md-none d-xl-block"></span>
                    <a href="#" class="row m-0 p-0">
                        <div class="col-4 pl-0 mx-0 mb-2">
                            <picture>
                                <img alt="Primeira notícia menor da sessão destaques principais" src="assets/images/thumbnail-noticia1_minhas_unidades.png" />
                            </picture>
                        </div>
                        <div class="col-8 mx-0 p-0 font-semibold mb-2">
                            <p>Gente nova: conheça os novos estagiários da PR-AM</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-1 d-block d-xl-none"></div>
                <div class="col-md col-xl-12 m-0 p-0 noticia-sm">
                    <span class="divisor-componente w-100 mb-2 d-block d-md-none d-xl-block"></span>
                    <a href="#" class="row m-0 p-0">
                        <div class="col-4 pl-0 mx-0 mb-2">
                            <picture>
                                <img alt="Segunda notícia menor da sessão destaques principais" src="assets/images/thumbnail-noticia2_minhas_unidades.png" />
                            </picture>
                        </div>
                        <div class="col-8 mx-0 p-0 font-semibold mb-2">
                            <p>Projeto “Caminhos das Águas” é instituído no MPF/AMo</p>
                        </div>
                    </a>
                    <span class="divisor-componente w-100 mb-2 d-none d-xl-block"></span>
                    <a href="#" class="text-right float-right font-bold">+ Notícias</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row m-0 p-0">
    <div class="componente-data-card col-lg list-card px-2">
        <div class="d-flex ml-2 pt-3 align-items-center">
            <img alt="aniversariantes" class="mr-2" src="assets/images/icone-aniversariantes.png" />
            <p class="font-color-claro font-weight-bold m-0">
                ANIVERSARIANTES
            </p>
        </div>
        <ul class="lista-links p-1 pt-3 px-2">
            <li class="pt-2 d-flex justify-content-between list-card-divisor-dashed">
                <a class="mb-2 font-color font-weight-bold h5" href="#">Maria Elane Nogueira Pinheiro</a> <span class="text-danger font-weight-bold">Hoje!</span>
            </li>
            <li class="pt-2 d-flex justify-content-between list-card-divisor-dashed">
                <a class="mb-2 font-color font-weight-bold h5" href="#">Cidia Mara Das Neves Carvalheira</a> <span class="font-color font-weight-bold">06/04</span>
            </li>
            <li class="pt-2 d-flex justify-content-between list-card-divisor-dashed">
                <a class="mb-2 font-color font-weight-bold h5" href="#">Adriana Nogueira De Farias</a> <span class="font-color font-weight-bold">07/04</span>
            </li>
            <li class="pt-2 d-flex justify-content-between list-card-divisor-dashed">
                <a class="mb-2 font-color font-weight-bold h5" href="#">Izolda Carnaquia Baquisiman</a> <span class="font-color font-weight-bold">10/04</span>
            </li>
            <li class="pt-2 d-flex justify-content-between list-card-divisor-dashed">
                <a class="mb-2 font-color font-weight-bold h5" href="#">Sinthia Do Carmo Ribeiro</a> <span class="font-color font-weight-bold">11/04</span>
            </li>
            <li class="pt-2 d-flex justify-content-between list-card-divisor-dashed">
                <a class="mb-2 font-color font-weight-bold h5" href="#">Rayana Barata De Avelar</a> <span class="font-color font-weight-bold">12/04</span>
            </li>
        </ul>
    </div>
    <div class="componente-data-card col-lg list-card px-2 my-3 my-lg-0 mx-0 mx-lg-3">
        <div class="d-flex ml-2 pt-3 pb-2 align-items-center">
            <img alt="classificados" class="mr-2" src="assets/images/icone-classificados.png" />
            <p class="font-color-claro font-weight-bold m-0">
                CLASSIFICADOS
            </p>
        </div>
        <ul class="lista-links p-0 m-0">
            <li class="pt-2 pb-2 d-flex justify-content-between list-card-divisor-dashed">
                <a class="col-5 pl-0" href="#">
                    <picture>
                        <img alt="Primeira notícia menor da sessão destaques principais" src="assets/images/classificados1.png" />
                    </picture>
                </a>
                <a class="col-7 pl-0 pr-0 font-weight-bold h5" href="#">
                    Vendo Fiat 500 Cult. Câmbio Dualogic <br><span class="font-weight-light">Preço: R$ 29.000,00</span>
                </a>
            </li>
            <li class="pt-2 pb-2 d-flex justify-content-between list-card-divisor-dashed">
                <a class="col-5 pl-0" href="#">
                    <picture>
                        <img alt="Primeira notícia menor da sessão destaques principais" src="assets/images/classificados2.png" />
                    </picture>
                </a>
                <a class="col-7 pl-0 pr-0 font-weight-bold h5" href="#">
                    Apartamento no Cruzeiro Novo, 2 quartos e com elevador <br><span class="font-weight-light">Preço: R$ 365.000,00</span>
                </a>
            </li>
            <li class="pt-2 pb-2 d-flex justify-content-between">
                <a class="col-5 pl-0" href="#">
                    <picture>
                        <img alt="Primeira notícia menor da sessão destaques principais" src="assets/images/classificados3.png" />
                    </picture>
                </a>
                <a class="col-7 pl-0 pr-0 font-weight-bold h5" href="#">
                    Fiesta hatch <br><span class="font-weight-light">Preço: R$ 20.000,00</span>
                </a>
            </li>
        </ul>
        <div class="card-painel-fonte-data py-2 px-2 pr-0">
            <a class="text-right painel-data" href="#"><b>+ Anúncios</b></a>
        </div>
    </div>
    <div class="componente-data-card col-lg list-card px-2">
        <div class="d-flex ml-2 pt-3 pb-2 align-items-center">
            <img alt="classificados" class="mr-2" src="assets/images/icone-biblioteca.png" />
            <p class="font-color-claro font-weight-bold m-0">
                AQUISIÇÕES DA BIBLIOTECA
            </p>
        </div>
        <ul class="lista-links px-2 pt-3 m-0">
            <li class="pt-2 d-flex justify-content-between list-card-divisor-dashed">
                <a class="mb-2 font-color font-weight-bold h5" href="#">Uma Teoria dos Precedentes Vinculantes no Processo Penal</a>
            </li>
            <li class="pt-2 d-flex justify-content-between list-card-divisor-dashed">
                <a class="mb-2 font-color font-weight-bold h5" href="#">Das Gangues centro-americanas: MARAS: origem e expansividade do fenômeno</a>
            </li>
            <li class="pt-2 d-flex justify-content-between list-card-divisor-dashed">
                <a class="mb-2 font-color font-weight-bold h5" href="#">Topologia da Violência</a>
            </li>
            <li class="pt-2 d-flex justify-content-between list-card-divisor-dashed">
                <a class="mb-2 font-color font-weight-bold h5" href="#">60 novos títulos estão à disposição dos usuários</a>
            </li>
            <li class="pt-2 d-flex justify-content-between list-card-divisor-dashed">
                <a class="mb-2 font-color font-weight-bold h5" href="#">Improbidade administrativa: procedimento, sanções e aplicação racional</a>
            </li>
        </ul>
        <div class="card-painel-fonte-data py-2 px-2 pr-0">
            <a class="text-right painel-dat" href="#"><b>+ Livros</b></a>
        </div>
    </div>
</div>
<a class="ancora-conteudo" id="conteudo-3" name="conteudo-3"></a>
<div class="componente-destaques-body px-3 pb-2 my-3">
    <div class="portal-regiao text-center mx-auto mb-2 text-uppercase">
        PORTAL MPF-AM
    </div>
    <div class="row px-0 mx-0">
        <div class="col-xl-8 pr-0 pl-0 pr-xl-3 flex-row">
            <div class="noticia-lg border-0 mb-3 mt-3 mb-xl-0">
                <div class="row m-0 p-0">
                    <div class="col-sm-6 p-0 mb-3 pr-0 pr-sm-3">
                        <a href="#">
                            <picture>
                                <img alt="Notícia principal da sessão destaques principais" class="w-100 d-block m-auto" src="assets/images/noticia-portal.png" />
                            </picture>
                        </a>
                    </div>
                    <div class="col-sm-6 p-0 mb-3">
                        <p class="headline-font">
                            CRIMINAL
                        </p>
                        <a class="h2 card-title font-semibold-h2" href="#">Servidor da Funai processado por estelionato é preso a pedido do MPF em Tabatinga (AM)</a>
                        <p class="card-text subtitulo-noticia-font pt-2 h5">
                            Réu é alvo de diversas ações e investigações por fraudes em documentos públicos e vinha dificultando o acesso a provas e informações
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <span class="divisor-componente w-100 mb-2 d-block d-xl-none"></span>
        <div class="col-xl-4 p-0">
            <div class="row m-0 p-0">
                <div class="col-md col-xl-12 m-0 p-0 noticia-sm">
                    <a href="#" class="row m-0 p-0">
                        <div class="col-4 pl-0 mx-0 mb-2">
                            <picture>
                                <img alt="Primeira notícia menor da sessão destaques principais" src="assets/images/thumbnail-noticia1-portal.png" />
                            </picture>
                        </div>
                        <div class="col-8 mx-0 p-0 font-semibold mb-2">
                            <p>Ex-prefeito de Barreirinha (AM) tem R$ 363 mil em bens bloqueados a pedido do MPF</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-1 d-block d-xl-none"></div>
                <div class="col-md col-xl-12 m-0 p-0 noticia-sm">
                    <span class="divisor-componente w-100 mb-2 d-block d-md-none d-xl-block"></span>
                    <a href="#" class="row m-0 p-0">
                        <div class="col-4 pl-0 mx-0 mb-2">
                            <picture>
                                <img alt="Segunda notícia menor da sessão destaques principais" src="assets/images/thumbnail-noticia2-portal.png" />
                            </picture>
                        </div>
                        <div class="col-8 mx-0 p-0 font-semibold mb-2">
                            <p>MPF recomenda a órgãos militares no AM que se abstenham de comemorar golpe de 1964</p>
                        </div>
                    </a>
                </div>
            </div>
            <span class="divisor-componente w-100 mb-2 d-block d-xl-none"></span>
            <div class="row m-0 p-0">
                <div class="col-md col-xl-12 m-0 p-0 noticia-sm">
                    <span class="divisor-componente w-100 mb-2 d-block d-md-none d-xl-block"></span>
                    <a href="#" class="row m-0 p-0">
                        <div class="col-4 pl-0 mx-0 mb-2">
                            <picture>
                                <img alt="Primeira notícia menor da sessão destaques principais" src="assets/images/thumbnail-noticia3-portal.png" />
                            </picture>
                        </div>
                        <div class="col-8 mx-0 p-0 font-semibold mb-2">
                            <p>MPF solicita manifestação da ANP e retirada de leilão de blocos de petróleo e gás natural no AM</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-1 d-block d-xl-none"></div>
                <div class="col-md d-block d-xl-none"></div>
            </div>
            <span class="divisor-componente w-100 mb-2"></span>
            <a href="#" class="text-right float-right font-bold">+ Notícias</a>
        </div>
    </div>
</div>
<div class="componente-divisor-body row mx-0 px-0 d-flex py-2 justify-content-between align-items-center mt-4 mt-md-0 mb-2">
    <div class="col m-0 p-0">
        <div class="divisor-unidade pb-1"></div>
        <div class="divisor-unidade pb-1"></div>
        <div class="divisor-unidade pb-1"></div>
        <div class="divisor-unidade pb-1"></div>
    </div>
    <div class="col text-center" style="max-width: 280px;">
        <p class="h3 font-color-claro pr-1">
            <small>DESTAQUES</small>
            <small><strong class="font-bold">NACIONAIS</strong></small>
        </p>
    </div>
    <div class="col m-0 p-0">
        <div class="divisor-unidade pb-1"></div>
        <div class="divisor-unidade pb-1"></div>
        <div class="divisor-unidade pb-1"></div>
        <div class="divisor-unidade pb-1"></div>
    </div>
</div>
<a class="ancora-conteudo" id="conteudo-4" name="conteudo-4"></a>
<div class="componente-destaques-body px-3 pb-2 my-3">
    <div class="area-administrativa text-center mx-auto mb-2 text-uppercase">
        ÁREAS ADMINISTRATIVAS
    </div>
    <div class="row m-0 p-0">
        <div class="noticia-md card border-0 col-lg-4 px-0 px-lg-0 pr-lg-2 img-list">
            <div class="row m-0 p-0">
                <div class="col-5 col-lg-12 pl-0 pr-3 pr-lg-0">
                    <a href="#">
                        <picture>
                            <img alt="Primeira notícia menor da sessão destaques principais" src="assets/images/noticia1-admin.png" />
                        </picture>
                    </a>
                </div>
                <div class="col-7 col-lg-12 m-0 p-0">
                    <div class="card-body pt-2 pb-3">
                        <p class="headline-font text-left">
                            04/04/2019
                        </p>
                        <a class="h5 card-text font-semibold" href="#">Corregedoria realiza reunião de correição por videoconferência com unidades de Mato Grosso do Sul</a>
                    </div>
                </div>
            </div>
            <span class="divisor-componente w-100 mb-2 d-block d-lg-none"></span>
        </div>
        <div class="noticia-md card border-0 col-lg-4 px-0 px-lg-0 px-lg-1 img-list">
            <div class="row m-0 p-0">
                <div class="col-5 col-lg-12 pl-0 pr-3 pr-lg-0">
                    <a href="#">
                        <picture>
                            <img alt="Primeira notícia menor da sessão destaques principais" src="assets/images/noticia2-admin.png" />
                        </picture>
                    </a>
                </div>
                <div class="col-7 col-lg-12 m-0 p-0">
                    <div class="card-body pt-2 pb-3">
                        <p class="headline-font text-left">
                            08/04/2019
                        </p>
                        <a class="h5 card-text font-semibold" href="#">MPF/ES conclui projeto de atualização do seu parque tecnológico</a>
                    </div>
                </div>
            </div>
            <span class="divisor-componente w-100 mb-2 d-block d-lg-none"></span>
        </div>
        <div class="noticia-md card border-0 col-lg-4 px-0 px-lg-0 pl-lg-2 img-list">
            <div class="row m-0 p-0">
                <div class="col-5 col-lg-12 pl-0 pr-3 pr-lg-0">
                    <a href="#">
                        <picture>
                            <img alt="Primeira notícia menor da sessão destaques principais" src="assets/images/noticia3-admin.png" />
                        </picture>
                    </a>
                </div>
                <div class="col-7 col-lg-12 m-0 p-0">
                    <div class="card-body pt-2 pb-3">
                        <p class="headline-font text-left">
                            13/05/2019
                        </p>
                        <a class="h5 card-text font-semibold" href="#">SA disponibiliza modelos de edital e contrato na intranet</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a class="ancora-conteudo" id="conteudo-5" name="conteudo-5"></a>
<div class="componente-destaques-body px-3 pb-2 my-3">
    <div class="orgaos-superiores text-center mx-auto mb-2 text-uppercase">
        ÓRGÃOS SUPERIORES
    </div>
    <div class="row m-0 p-0">
        <div class="noticia-md card border-0 col-lg-4 px-0 px-lg-0 pr-lg-2 img-list">
            <div class="row m-0 p-0">
                <div class="col-5 col-lg-12 pl-0 pr-3 pr-lg-0">
                    <a href="#">
                        <picture>
                            <img alt="Primeira notícia menor da sessão destaques principais" src="assets/images/noticia1-orgaos.png" />
                        </picture>
                    </a>
                </div>
                <div class="col-7 col-lg-12 m-0 p-0">
                    <div class="card-body pt-2 pb-3">
                        <p class="headline-font text-left">
                            04/04/2019
                        </p>
                        <a class="h5 card-text font-semibold" href="#">4CCR abre vagas para lançamento dos resultados da 2ª fase do Amazônia Protege no Pará</a>
                    </div>
                </div>
            </div>
            <span class="divisor-componente w-100 mb-2 d-block d-lg-none"></span>
        </div>
        <div class="noticia-md card border-0 col-lg-4 px-0 px-lg-0 px-lg-1 img-list">
            <div class="row m-0 p-0">
                <div class="col-5 col-lg-12 pl-0 pr-3 pr-lg-0">
                    <a href="#">
                        <picture>
                            <img alt="Primeira notícia menor da sessão destaques principais" src="assets/images/noticia2-orgaos.png" />
                        </picture>
                    </a>
                </div>
                <div class="col-7 col-lg-12 m-0 p-0">
                    <div class="card-body pt-2 pb-3">
                        <p class="headline-font text-left">
                            08/04/2019
                        </p>
                        <a class="h5 card-text font-semibold" href="#">PFDC pede novos esclarecimentos ao Inep sobre comissão que pretende fiscalizar conteúdos do Enem</a>
                    </div>
                </div>
            </div>
            <span class="divisor-componente w-100 mb-2 d-block d-lg-none"></span>
        </div>
        <div class="noticia-md card border-0 col-lg-4 px-0 px-lg-0 pl-lg-2 img-list">
            <div class="row m-0 p-0">
                <div class="col-5 col-lg-12 pl-0 pr-3 pr-lg-0">
                    <a href="#">
                        <picture>
                            <img alt="Primeira notícia menor da sessão destaques principais" src="assets/images/noticia3-orgaos.png" />
                        </picture>
                    </a>
                </div>
                <div class="col-7 col-lg-12 m-0 p-0">
                    <div class="card-body pt-2 pb-3">
                        <p class="headline-font text-left">
                            13/05/2019
                        </p>
                        <a class="h5 card-text font-semibold" href="#">Manual e roteiro qualificam a efetivação das condenações nas ações de improbidade administrativa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a class="ancora-conteudo" id="conteudo-6" name="conteudo-6"></a>
<div class="componente-destaques-body px-3 pb-2 my-3">
    <div class="portal-mpf text-center mx-auto mb-2 text-uppercase">
        PORTAL MPF
    </div>
    <div class="row px-0 mx-0">
        <div class="col-xl pr-0 pl-0 pr-xl-4 flex-row">
            <div class="noticia-lg border-0 mb-3 mt-3 mb-xl-0">
                <div class="row m-0 p-0">
                    <div class="col-sm-6 p-0 mb-3 pr-0 pr-sm-3">
                        <a href="#">
                            <picture>
                                <img alt="Notícia principal da sessão destaques principais" class="w-100 d-block m-auto" src="assets/images/noticia-portal-mpf.png" />
                            </picture>
                        </a>
                    </div>
                    <div class="col-sm-6 p-0 mb-3">
                        <p class="headline-font">
                            COMBATE À CORRUPÇÃO
                        </p>
                        <a class="h2 card-title font-semibold-h2" href="#">FT Greenfield denuncia 13 por crimes no FIDC Trendbank</a>
                        <p class="card-text subtitulo-noticia-font pt-2 h5">
                            Procuradores pedem mais de R$ 560 milhões de reparação às vítimas. Valor corresponde ao triplo dos aportes realizados por Postalis e Petros
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <span class="divisor-componente w-100 mb-2 d-block d-xl-none"></span>
        <div class="col-xl p-0 mw-xl-100" style="max-width: 400px;">
            <div class="row m-0 p-0">
                <div class="col-md col-xl-12 m-0 p-0 noticia-sm">
                    <a href="#" class="row m-0 p-0">
                        <div class="col-4 pl-0 mx-0 mb-2">
                            <picture>
                                <img alt="Primeira notícia menor da sessão destaques principais" src="assets/images/thumbnail-noticia1-portal-mpf.png" />
                            </picture>
                        </div>
                        <div class="col-8 mx-0 p-0 font-semibold mb-2">
                            <p>TRF1 determina multa de R$ 500 mil à Eletronorte em favor dos Krikati</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-1 d-block d-xl-none"></div>
                <div class="col-md col-xl-12 m-0 p-0 noticia-sm">
                    <span class="divisor-componente w-100 mb-2 d-block d-md-none d-xl-block"></span>
                    <a href="#" class="row m-0 p-0">
                        <div class="col-4 pl-0 mx-0 mb-2">
                            <picture>
                                <img alt="Segunda notícia menor da sessão destaques principais" src="assets/images/thumbnail-noticia2-portal-mpf.png" />
                            </picture>
                        </div>
                        <div class="col-8 mx-0 p-0 font-semibold mb-2">
                            <p>PGR reforça pedido de envio de ação penal contra ex-deputado Luiz Carlos Caetano à Justiça Federal na Bahia</p>
                        </div>
                    </a>
                </div>
            </div>
            <span class="divisor-componente w-100 mb-2"></span>
            <a href="#" class="text-right float-right font-bold">+ Notícias</a>
        </div>
    </div>
</div>