<div class="bg-white row m-0 p-2 p-sm-3">
    <div class="col-12 py-4 text-center d-block d-sm-none">
        <a href="#" title="MPF"><img alt="Logo MPF" class="align-self-center" src="assets/images/MPF-logo.png" /></a>
    </div>
    <div class="col-sm-4 py-4 px-5 px-sm-2">
        <a class="font-bold m-0 ml-4" href="#" title="Procuradoria da República no Amazonas">Procuradoria da República no Amazonas</a>
        <p class="font-color m-0">
            <img alt="endereco" class="" src="assets/images/icone-rodape-endereco.png" /> Av. André Araújo, 358 Adrianópolis – Manaus/AM CEP 69057-025
        </p>
        <p class="font-color m-0">
            <img alt="telefone" class="ml-1" src="assets/images/icone-rodape-telefone.png" />Tel.: (92) 2129-4700
        </p>
    </div>
    <div class="col-sm-4 py-4 text-center d-none d-sm-block">
        <a href="#" title="MPF"><img alt="Logo MPF" class="align-self-center" src="assets/images/MPF-logo.png" /></a>
    </div>
    <div class="col-sm-4 py-4 text-right">
        <a href="#" title="Instagram"><img alt="Ícone Instagram" class="m-2" src="assets/images/icon_intagram.png" style="max-width: 45px;" /></a> 
        <a href="#" title="Twitter"><img alt="Ícone Twitter" class="m-2" src="assets/images/icon-twitter.png" style="max-width: 45px;" /></a> 
        <a href="#" title="Facebook"><img alt="Ícone Facebook" class="m-2" src="assets/images/icon-facebook.png" style="max-width: 45px;" /></a> 
        <a href="#" title="Youtube"><img alt="Ícone Youtube" class="m-2" src="assets/images/icon-youtube.png" style="max-width: 45px;" /></a>
    </div>
</div>

<script src="assets/js/jquery/popper.min.js"></script>
<noscript>Seu navegador não tem suporte a JavaScript ou está desativado!</noscript>
<script src="assets/js/fontawesome/8a198f66f5.js"></script>
<noscript>Seu navegador não tem suporte a JavaScript ou está desativado!</noscript>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<noscript>Seu navegador não tem suporte a JavaScript ou está desativado!</noscript>
<script src="assets/js/jquery.cookie.js"></script>
<noscript>Seu navegador não tem suporte a JavaScript ou está desativado!</noscript>
<script src="assets/js/acessibilidade.js"></script>
<noscript>Seu navegador não tem suporte a JavaScript ou está desativado!</noscript>
<script src="assets/js/scripts.js"></script>
<noscript>Seu navegador não tem suporte a JavaScript ou está desativado!</noscript>
<script src="assets/js/menu.js">
</script> <noscript>Seu navegador não tem suporte a JavaScript ou está desativado!</noscript>
<script src="assets/js/jsCalendar.js">
</script> <noscript>Seu navegador não tem suporte a JavaScript ou está desativado!</noscript>
<script src="assets/js/jsCalendar.lang.pt.js">
</script> <noscript>Seu navegador não tem suporte a JavaScript ou está desativado!</noscript>
<script src="assets/js/functions/sidebar.js">
</script> <noscript>Seu navegador não tem suporte a JavaScript ou está desativado!</noscript>
<script src="assets/js/functions/anchor-links.js">
</script> <noscript>Seu navegador não tem suporte a JavaScript ou está desativado!</noscript>
<script src="assets/js/functions/livesearchs.js">
</script> <noscript>Seu navegador não tem suporte a JavaScript ou está desativado!</noscript>
<script src="assets/js/functions/selects.js">
</script> <noscript>Seu navegador não tem suporte a JavaScript ou está desativado!</noscript>
<script src="assets/js/functions/tagfilter.js">
</script> <noscript>Seu navegador não tem suporte a JavaScript ou está desativado!</noscript>

<!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
<script src="assets/js/videojs/videojs-ie8.min.js"></script>

<script src="assets/js/videojs/video.js"></script>
<script src="assets/js/videojs/youtube.js"></script>