<ul class="bg-transparent navbar-menu clean-list p-0" id="navMenu">
    <li style="list-style: none">
        <a href="#"><img src="assets/images/menu-sanduiche.png" alt="Navegação MPF" /></a>
    </li>
    <li class="dropdown mega-dropdown">
        <ul class="dropdown-menu mega-dropdown-menu mega-dropdown-menu-principal row p-0" id="megaMenu">
            <div class="row-fluid pt-2 pl-3 list-card-divisor">
                <label class="sidebar-card-title"><strong>MINISTÉRIO PÚBLICO FEDERAL</strong></label>
            </div>
            <div class="row m-0 p-0">
                <div class="col-md menu megaMenuIndex">
                    <ul>
                        <li>
                            <a href='#'>
                                <span>Página Inicial</span>
                            </a>
                        </li>
                        <li>
                            <a href='#'>
                                <span>Notícias</span>
                            </a>
                        </li>
                        <li>
                            <a href='#'>
                                <span>Áreas Temáticas</span>
                            </a>
                            <ul>
                                <li>
                                    <a href='#'>
                                        <span>Administrativas</span>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href='#'>
                                                <span>Secretaria-Geral</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href='#'>
                                                <span>Atendimento a Membros</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href='#'>
                                                <span>Administração</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href='#'>
                                                <span>Engenharia e Arquitetura</span>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href='#'>
                                                        <span>Item de 4º nível - 1</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='#'>
                                                        <span>Item de 4º nível - 2</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='#'>
                                                        <span>Item de 4º nível - 3</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='#'>
                                                        <span>Item de 4º nível - 4</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='#'>
                                                        <span>Item de 4º nível - 5</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='#'>
                                                        <span>Item de 4º nível - 6</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='#'>
                                                        <span>Item de 4º nível - 7</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='#'>
                                                        <span>Item de 4º nível - 8</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='#'>
                                                        <span>Item de 4º nível - 9</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='#'>
                                                        <span>Item de 4º nível - 10</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href='#'>
                                                <span>Gestão de Pessoas</span>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href='#'>
                                                        <span>Item de 4º nível - 1</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='#'>
                                                        <span>Item de 4º nível - 2</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='#'>
                                                        <span>Item de 4º nível - 3</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='#'>
                                                        <span>Item de 4º nível - 4</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='#'>
                                                        <span>Item de 4º nível - 5</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='#'>
                                                        <span>Item de 4º nível - 6</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='#'>
                                                        <span>Item de 4º nível - 7</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='#'>
                                                        <span>Item de 4º nível - 8</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='#'>
                                                        <span>Item de 4º nível - 9</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='#'>
                                                        <span>Item de 4º nível - 10</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href='#'>
                                                <span>Jurídica e de Documentação</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href='#'>
                                                <span>Planejamento e Orçamento</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href='#'>
                                                <span>Saúde</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href='#'>
                                                <span>Segurança Institucional</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href='#'>
                                                <span>Tecnologia da Informação</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href='#'>
                                                <span>Modernização e Gestão Estratégica</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href='#'>
                                        <span>Câmaras</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='#'>
                                        <span>Conselhos</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='#'>
                                        <span>Corregedoria</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='#'>
                                        <span>Equidade</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='#'>
                                        <span>Gabinete PGR</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='#'>
                                        <span>Gestão Estratégica</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='#'>
                                        <span>Monitoramento da Transparência</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='#'>
                                        <span>Ouvidoria do Ministério Público Federal</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='#'>
                                        <span>Plan-Assiste</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='#'>
                                        <span>PFDC</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='#'>
                                        <span>Atuação no STJ</span>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href='#'>
                                                <span>Secretaria-Geral</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href='#'>
                                                <span>Atendimento a Membros</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href='#'>
                                                <span>Administração</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href='#'>
                                                <span>Engenharia e Arquitetura</span>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href='#'>
                                                        <span>Item de 4º nível - 1</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='#'>
                                                        <span>Item de 4º nível - 2</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='#'>
                                                        <span>Item de 4º nível - 3</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='#'>
                                                        <span>Item de 4º nível - 4</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='#'>
                                                        <span>Item de 4º nível - 5</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='#'>
                                                        <span>Item de 4º nível - 6</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='#'>
                                                        <span>Item de 4º nível - 7</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='#'>
                                                        <span>Item de 4º nível - 8</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='#'>
                                                        <span>Item de 4º nível - 9</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='#'>
                                                        <span>Item de 4º nível - 10</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href='#'>
                                                <span>Gestão de Pessoas</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href='#'>
                                                <span>Jurídica e de Documentação</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href='#'>
                                                <span>Planejamento e Orçamento</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href='#'>
                                                <span>Saúde</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href='#'>
                                                <span>Segurança Institucional</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href='#'>
                                                <span>Tecnologia da Informação</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href='#'>
                                                <span>Modernização e Gestão Estratégica</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href='#'>
                                <span>Eleitoral</span>
                            </a>
                            <ul>
                                <li>
                                    <a href='#'>
                                        <span>Eleitoral 1</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='#'>
                                        <span>Eleitoral <i class="fas fa-signal-alt-2"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href='#'>
                                        <span>Eleitoral 3</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='#'>
                                        <span>Eleitoral 4</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='#'>
                                        <span>Eleitoral 5</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='#'>
                                        <span>Eleitoral 6</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='#'>
                                        <span>Eleitoral 7</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='#'>
                                        <span>Eleitoral 7</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='#'>
                                        <span>Eleitoral 8</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='#'>
                                        <span>Eleitoral 9</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='#'>
                                        <span>Eleitoral 10</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='#'>
                                        <span>Eleitoral 11</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href='#'>
                                <span>Formulários</span>
                            </a>
                        </li>
                        <li>
                            <a href='#'>
                                <span>Legislação</span>
                            </a>
                        </li>
                        <li>
                            <a href='#'>
                                <span>Pesquisas</span>
                            </a>
                        </li>
                        <li>
                            <a href='#'>
                                <span>Serviços</span>
                            </a>
                        </li>
                        <li>
                            <a href='#'>
                                <span>Políticas e Manuais</span>
                            </a>
                        </li>
                        <li>
                            <a href='#'>
                                <span>Intranets</span>
                            </a>
                        </li>
                        <li>
                            <a href='#'>
                                <span>Atendimento a Membros</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col menu submenu megaMenuSub1 d-none d-md-block">
                    <ul></ul>
                </div>
                <div class="col menu submenu megaMenuSub2 d-none d-md-block">
                    <ul></ul>
                </div>
                <div class="col menu submenu megaMenuSub3 d-none d-md-block">
                    <ul></ul>
                </div>
                <div class="col d-none d-md-block bg_menu_shortcut pr-0">
                    <div class="bg_menu_shortcut no-border-bottom px-0 mx-0 pt-1 pb-2 px-1">
                        <div class="shortcut-bold">Acesso Rápido</div>
                    </div>
                    <div class="card-body bg_menu_shortcut d-flex overflow-auto px-0 mx-0">
                        <div class="px-0 mx-0 shortcut row">
                            <a href="#" class="col p-1 m-0 shortcut-border">
                                <img class="bg-transparent" src="assets/images/icon_shortcut_1.png" alt="Atalho extractus">
                                <span class="mt-1 mb-2 clearfix w-100">Extractus</span>
                            </a>
                            <a href="#" class="col p-1 m-0 shortcut-border">
                                <img class="bg-transparent" src="assets/images/icon_shortcut_1.png" alt="Atalho DQVT">
                                <span class="mt-1 mb-2 clearfix w-100">DQVT</span>
                            </a>
                            <a href="#" class="col p-1 m-0 shortcut-border">
                                <img class="bg-transparent" src="assets/images/icon_shortcut_1.png" alt="Atalho Exame Períodico de Saúde">
                                <span class="mt-1 mb-2 clearfix w-100">Exame Períodico de Saúde</span>
                            </a>
                            <div class="col-12 clearfix"></div>
                            <a href="#" class="col p-1 m-0 shortcut-border">
                                <img class="bg-transparent" src="assets/images/icon_shortcut_1.png" alt="Atalho Saúde em Rede">
                                <span class="mt-1 mb-2 clearfix w-100">Saúde em Rede</span>
                            </a>
                            <a href="#" class="col p-1 m-0 shortcut-border">
                                <img class="bg-transparent" src="assets/images/icon_shortcut_1.png" alt="Atalho Gestão de Eventos">
                                <span class="mt-1 mb-2 clearfix w-100">Gestão de Eventos</span>
                            </a>
                            <a href="#" class="col p-1 m-0 shortcut-border">
                                <img class="bg-transparent" src="assets/images/icon_shortcut_1.png" alt="Atalho Auditoria interna do MPU">
                                <span class="mt-1 mb-2 clearfix w-100">Auditoria interna do MPU</span>
                            </a>
                            <div class="col-12 clearfix"></div>
                            <a href="#" class="col p-1 m-0 shortcut-border">
                                <img class="bg-transparent" src="assets/images/icon_shortcut_1.png" alt="Atalho Rede de Bibliotecas MPF">
                                <span class="mt-1 mb-2 clearfix w-100">Rede de Bibliotecas MPF</span>
                            </a>
                            <a href="#" class="col p-1 m-0 shortcut-border">
                                <img class="bg-transparent" src="assets/images/icon_shortcut_1.png" alt="Atalho MPF Drive">
                                <span class="mt-1 mb-2 clearfix w-100">MPF Drive</span>
                            </a>
                            <a href="#" class="col p-1 m-0 shortcut-border">
                                <img class="bg-transparent" src="assets/images/icon_shortcut_1.png" alt="Atalho Atendimento a Membros">
                                <span class="mt-1 mb-2 clearfix w-100">Atendimento a Membros</span>
                            </a>
                            <div class="col-12 clearfix"></div>
                            <a href="#" class="col p-1 m-0 shortcut-border">
                                <img class="bg-transparent" src="assets/images/icon_shortcut_1.png" alt="Atalho extractus">
                                <span class="mt-1 mb-2 clearfix w-100">Extractus</span>
                            </a>
                            <a href="#" class="col p-1 m-0 shortcut-border">
                                <img class="bg-transparent" src="assets/images/icon_shortcut_1.png" alt="Atalho extractus">
                                <span class="mt-1 mb-2 clearfix w-100">Extractus</span>
                            </a>
                            <a href="#" class="col p-1 m-0 shortcut-border">
                                <img class="bg-transparent" src="assets/images/icon_shortcut_1.png" alt="Atalho extractus">
                                <span class="mt-1 mb-2 clearfix w-100">Extractus</span>
                            </a>
                            <div class="col-12 clearfix"></div>
                            <a href="#" class="col p-1 m-0 shortcut-border">
                                <img class="bg-transparent" src="assets/images/icon_shortcut_1.png" alt="Atalho extractus">
                                <span class="mt-1 mb-2 clearfix w-100">Extractus</span>
                            </a>
                            <a href="#" class="col p-1 m-0 shortcut-border">
                                <img class="bg-transparent" src="assets/images/icon_shortcut_1.png" alt="Atalho extractus">
                                <span class="mt-1 mb-2 clearfix w-100">Extractus</span>
                            </a>
                            <a href="#" class="col p-1 m-0 shortcut-border">
                                <img class="bg-transparent" src="assets/images/icon_shortcut_1.png" alt="Atalho extractus">
                                <span class="mt-1 mb-2 clearfix w-100">Extractus</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </li>
</ul>
<div class="d-none d-md-flex ml-3 justify-content-center align-items-center">
    <h1 class="m-0 navbar-title-bold">
        MPF
    </h1>
    <p class="m-0 pl-1 pr-2 navbar-title">
        Intranet
    </p>
</div>
<span class="d-none d-md-block line-divider ml-2 mt-1 mb-1 mr-2"></span>
<div class="d-flex align-items-center ml-0 mr-auto">
    <a class="navbar-title-cinza pt-2 px-2 d-none d-sm-block">Menu da</a>
    <a class="navbar-title-bold pr-1 ml-3 ml-sm-0" id="noRegiao">PR-AM</a>
    <ul class="d-flex justify-content-center align-items-center clean-list px-0" id="navMenuRegiao">
        <li style="list-style: none">
            <a href="#" class="navbar-dropdown-icon d-block" style="color: white;"><i class="fas fa-caret-down"></i></a>
        </li>
        <li class="dropdown mega-dropdown">
            <div class="dropdown-menu mega-dropdown-menu mega-dropdown-menu-regiao row p-0" id="megaMenuRegiao">
                <div class="row-fluid pt-2 pl-3 list-card-divisor">
                    <label class="sidebar-card-title float-left">
                        <strong>PROCURADORIA DA REPÚBLICA NO AMAZONAS</strong>
                    </label>
                    <div class="btn-group dropdown-styled">
                      <button type="button" class="btn btn-primary px-1 py-0" data-toggle="dropdown">TROCAR UNIDADE</button>
                      <button type="button" class="btn btn-primarydark text-white px-1 py-0 dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                        <span class="sr-only">TROCAR UNIDADE</span>
                      </button>
                      <div class="dropdown-menu dropdown-primary w-100">
                        <a class="dropdown-item" href="#">DF</a>
                        <a class="dropdown-item" href="#">PGR</a>
                        <a class="dropdown-item" href="#">PRR1</a>
                        <a class="dropdown-item" href="#">PRR2</a>
                        <a class="dropdown-item" href="#">PRR3</a>
                        <a class="dropdown-item" href="#">PRR4</a>
                        <a class="dropdown-item" href="#">PRR5</a>
                        <a class="dropdown-item" href="#">PRR6</a>
                        <a class="dropdown-item" href="#">PRR7</a>
                        <a class="dropdown-item" href="#">PR-AL</a>
                        <a class="dropdown-item" href="#">PR-AP</a>
                        <a class="dropdown-item" href="#">PR-AM</a>
                        <a class="dropdown-item" href="#">PR-DF</a>
                        <a class="dropdown-item" href="#">PR-ES</a>
                        <a class="dropdown-item" href="#">PR-GO</a>
                        <a class="dropdown-item" href="#">PR-MA</a>
                        <a class="dropdown-item" href="#">PR-MS</a>
                        <a class="dropdown-item" href="#">PR-MT</a>
                        <a class="dropdown-item" href="#">PR-MR</a>
                        <a class="dropdown-item" href="#">PR-MG</a>
                        <a class="dropdown-item" href="#">PR-MP</a>
                        <a class="dropdown-item" href="#">PR-ML</a>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="row m-0 p-0">
                    <div class="col-md menu megaMenuIndex">
                        <ul>
                            <li>
                                <a href='#'>
                                    <span>Página Inicial</span>
                                </a>
                            </li>
                            <li>
                                <a href='#'>
                                    <span>Notícias</span>
                                </a>
                            </li>
                            <li>
                                <a href='#'>
                                    <span>Áreas Temáticas</span>
                                </a>
                                <ul>
                                    <li>
                                        <a href='#'>
                                            <span>Administrativas</span>
                                        </a>
                                        <ul>
                                            <li>
                                                <a href='#'>
                                                    <span>Secretaria-Geral</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href='#'>
                                                    <span>Atendimento a Membros</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href='#'>
                                                    <span>Administração</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href='#'>
                                                    <span>Engenharia e Arquitetura</span>
                                                </a>
                                                <ul>
                                                    <li>
                                                        <a href='#'>
                                                            <span>Item de 4º nível - 1</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href='#'>
                                                            <span>Item de 4º nível - 2</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href='#'>
                                                            <span>Item de 4º nível - 3</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href='#'>
                                                            <span>Item de 4º nível - 4</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href='#'>
                                                            <span>Item de 4º nível - 5</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href='#'>
                                                            <span>Item de 4º nível - 6</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href='#'>
                                                            <span>Item de 4º nível - 7</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href='#'>
                                                            <span>Item de 4º nível - 8</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href='#'>
                                                            <span>Item de 4º nível - 9</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href='#'>
                                                            <span>Item de 4º nível - 10</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href='#'>
                                                    <span>Gestão de Pessoas</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href='#'>
                                                    <span>Jurídica e de Documentação</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href='#'>
                                                    <span>Planejamento e Orçamento</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href='#'>
                                                    <span>Saúde</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href='#'>
                                                    <span>Segurança Institucional</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href='#'>
                                                    <span>Tecnologia da Informação</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href='#'>
                                                    <span>Modernização e Gestão Estratégica</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href='#'>
                                            <span>Câmaras</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href='#'>
                                            <span>Conselhos</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href='#'>
                                            <span>Corregedoria</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href='#'>
                                            <span>Equidade</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href='#'>
                                            <span>Gabinete PGR</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href='#'>
                                            <span>Gestão Estratégica</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href='#'>
                                            <span>Monitoramento da Transparência</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href='#'>
                                            <span>Ouvidoria do Ministério Público Federal</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href='#'>
                                            <span>Plan-Assiste</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href='#'>
                                            <span>PFDC</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href='#'>
                                            <span>Atuação no STJ</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href='#'>
                                    <span>Eleitoral</span>
                                </a>
                                <ul>
                                    <li>
                                        <a href='#'>
                                            <span>Eleitoral 1</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href='#'>
                                            <span>Eleitoral <i class="fas fa-signal-alt-2"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href='#'>
                                            <span>Eleitoral 3</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href='#'>
                                            <span>Eleitoral 4</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href='#'>
                                            <span>Eleitoral 5</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href='#'>
                                            <span>Eleitoral 6</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href='#'>
                                            <span>Eleitoral 7</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href='#'>
                                            <span>Eleitoral 7</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href='#'>
                                            <span>Eleitoral 8</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href='#'>
                                            <span>Eleitoral 9</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href='#'>
                                            <span>Eleitoral 10</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href='#'>
                                            <span>Eleitoral 11</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href='#'>
                                    <span>Formulários</span>
                                </a>
                            </li>
                            <li>
                                <a href='#'>
                                    <span>Legislação</span>
                                </a>
                            </li>
                            <li>
                                <a href='#'>
                                    <span>Pesquisas</span>
                                </a>
                            </li>
                            <li>
                                <a href='#'>
                                    <span>Serviços</span>
                                </a>
                            </li>
                            <li>
                                <a href='#'>
                                    <span>Políticas e Manuais</span>
                                </a>
                            </li>
                            <li>
                                <a href='#'>
                                    <span>Intranets</span>
                                </a>
                            </li>
                            <li>
                                <a href='#'>
                                    <span>Atendimento a Membros</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col menu submenu megaMenuSub1 d-none d-md-block">
                        <ul></ul>
                    </div>
                    <div class="col menu submenu megaMenuSub2 d-none d-md-block">
                        <ul></ul>
                    </div>
                    <div class="col menu submenu megaMenuSub3 d-none d-md-block">
                        <ul></ul>
                    </div>
                    <div class="col d-none d-md-block bg_menu_shortcut pr-0">
                        <div class="bg_menu_shortcut no-border-bottom px-0 mx-0 pt-1 pb-2 px-1">
                            <div class="shortcut-bold">Acesso Rápido</div>
                        </div>
                        <div class="card-body bg_menu_shortcut d-flex overflow-auto px-0 mx-0">
                            <div class="px-0 mx-0 shortcut row">
                                <a href="#" class="col p-1 m-0 shortcut-border">
                                    <img class="bg-transparent" src="assets/images/icon_shortcut_1.png" alt="Atalho extractus">
                                    <span class="mt-1 mb-2 clearfix w-100">Extractus</span>
                                </a>
                                <a href="#" class="col p-1 m-0 shortcut-border">
                                    <img class="bg-transparent" src="assets/images/icon_shortcut_1.png" alt="Atalho DQVT">
                                    <span class="mt-1 mb-2 clearfix w-100">DQVT</span>
                                </a>
                                <a href="#" class="col p-1 m-0 shortcut-border">
                                    <img class="bg-transparent" src="assets/images/icon_shortcut_1.png" alt="Atalho Exame Períodico de Saúde">
                                    <span class="mt-1 mb-2 clearfix w-100">Exame Períodico de Saúde</span>
                                </a>
                                <div class="col-12 clearfix"></div>
                                <a href="#" class="col p-1 m-0 shortcut-border">
                                    <img class="bg-transparent" src="assets/images/icon_shortcut_1.png" alt="Atalho Saúde em Rede">
                                    <span class="mt-1 mb-2 clearfix w-100">Saúde em Rede</span>
                                </a>
                                <a href="#" class="col p-1 m-0 shortcut-border">
                                    <img class="bg-transparent" src="assets/images/icon_shortcut_1.png" alt="Atalho Gestão de Eventos">
                                    <span class="mt-1 mb-2 clearfix w-100">Gestão de Eventos</span>
                                </a>
                                <a href="#" class="col p-1 m-0 shortcut-border">
                                    <img class="bg-transparent" src="assets/images/icon_shortcut_1.png" alt="Atalho Auditoria interna do MPU">
                                    <span class="mt-1 mb-2 clearfix w-100">Auditoria interna do MPU</span>
                                </a>
                                <div class="col-12 clearfix"></div>
                                <a href="#" class="col p-1 m-0 shortcut-border">
                                    <img class="bg-transparent" src="assets/images/icon_shortcut_1.png" alt="Atalho Rede de Bibliotecas MPF">
                                    <span class="mt-1 mb-2 clearfix w-100">Rede de Bibliotecas MPF</span>
                                </a>
                                <a href="#" class="col p-1 m-0 shortcut-border">
                                    <img class="bg-transparent" src="assets/images/icon_shortcut_1.png" alt="Atalho MPF Drive">
                                    <span class="mt-1 mb-2 clearfix w-100">MPF Drive</span>
                                </a>
                                <a href="#" class="col p-1 m-0 shortcut-border">
                                    <img class="bg-transparent" src="assets/images/icon_shortcut_1.png" alt="Atalho Atendimento a Membros">
                                    <span class="mt-1 mb-2 clearfix w-100">Atendimento a Membros</span>
                                </a>
                                <div class="col-12 clearfix"></div>
                                <a href="#" class="col p-1 m-0 shortcut-border">
                                    <img class="bg-transparent" src="assets/images/icon_shortcut_1.png" alt="Atalho extractus">
                                    <span class="mt-1 mb-2 clearfix w-100">Extractus</span>
                                </a>
                                <a href="#" class="col p-1 m-0 shortcut-border">
                                    <img class="bg-transparent" src="assets/images/icon_shortcut_1.png" alt="Atalho extractus">
                                    <span class="mt-1 mb-2 clearfix w-100">Extractus</span>
                                </a>
                                <a href="#" class="col p-1 m-0 shortcut-border">
                                    <img class="bg-transparent" src="assets/images/icon_shortcut_1.png" alt="Atalho extractus">
                                    <span class="mt-1 mb-2 clearfix w-100">Extractus</span>
                                </a>
                                <div class="col-12 clearfix"></div>
                                <a href="#" class="col p-1 m-0 shortcut-border">
                                    <img class="bg-transparent" src="assets/images/icon_shortcut_1.png" alt="Atalho extractus">
                                    <span class="mt-1 mb-2 clearfix w-100">Extractus</span>
                                </a>
                                <a href="#" class="col p-1 m-0 shortcut-border">
                                    <img class="bg-transparent" src="assets/images/icon_shortcut_1.png" alt="Atalho extractus">
                                    <span class="mt-1 mb-2 clearfix w-100">Extractus</span>
                                </a>
                                <a href="#" class="col p-1 m-0 shortcut-border">
                                    <img class="bg-transparent" src="assets/images/icon_shortcut_1.png" alt="Atalho extractus">
                                    <span class="mt-1 mb-2 clearfix w-100">Extractus</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="d-flex align-items-center justify-content-end ml-auto mr-0">
    <form action="/search.html" method="post" class="search">
        <input class="search-box pl-3 rounded" type="text" required>
        <button type="submit" class="search-button d-flex justify-content-center align-items-center">
            <i class="fas fa-search fa-flip-horizontal search-icon pt-2 pl-2"></i>
        </button>
    </form>
</div>
<div class="p-2 d-block float-right m-0">
    <a href="#"><i class="fas fa-ellipsis-v pl-1 pr-2 navbar-menu"></i></a>
</div>

<div class="collapse" id="menu"></div>
<div class="dark-screen flex-column" id="darkScreen"></div>