/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */
.navbar {
    background-image: linear-gradient(to right, #ebb703, #fcb800);
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    background: #eaa208;
}
    #sidebar .color-sidebar-btn {
        color: #f6db74;
    }
    #sidebar .color-sidebar-btn:hover {
        color: #fff;
    }
    #sidebar .card-header {
        background-color: rgba(252, 184, 0, 0.03);
    }
    #sidebar .font-sistemas {
        color: #f6db74;
    }

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    background-color: #fffcce;
}
