/*@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url(https://db.onlinewebfonts.com/c/b46bb1fc76216f5cd90457d0451dbee4?family=Futura+Book);*/
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
    font-family: "SourceSansPro";
    src: url("../fonts/SourceSansPro-Regular.ttf");
}

@font-face {
    font-family: "SourceSansPro-bold";
    src: url("../fonts/SourceSansPro-Bold.ttf");
}

@font-face {
    font-family: "SourceSansPro-SemiBold";
    src: url("../fonts/SourceSansPro-SemiBold.ttf");
}

@font-face {
    font-family: "SourceSansPro-Regular";
    src: url("../fonts/SourceSansPro-Regular.ttf");
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
  line-height:  1.25rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1rem;
    margin-bottom: 0.2em;
}

p, .p {
  font-size: 1.1rem;
  line-height: 1.4rem;
}

h6, .h6 {
  font-size: 0.75rem;
}

p:last-child {
    margin-bottom: 0;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------*/

body {
    font-family: 'SourceSansPro', sans-serif;
    background: #eee;
    font-size: 0.875rem;
    max-width: 1430px;
    margin: 0 auto;
}

html {
    overflow-x: hidden;
}

i,
span {
    display: inline-block;
}

a {
    color: #3c689a;
}

fieldset.hidden legend {
    position: absolute;
    text-indent: -4000em;
}

picture {
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    background-size: cover;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    max-height: 222px; 
}

.lista-links picture {
    max-height: 80px;
    min-height: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lista-links picture img {
    height: 120%;
    width: auto;
    margin: 0 auto;
    max-height: 120%;
    min-height: 120%;
    display: block;
}

.lista-links li {
    list-style: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 2.5rem 0;
}

.scrollable-menu {
    height: auto;
    max-height: 12.5rem;
    overflow-x: hidden;
}

/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */
.navbar {
    width: 100%;
    height: 4rem;
    color: #ffffff;
    background-image: linear-gradient(to right, #2f5480, #2ba5c2);
    padding: 0rem 1rem;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
}

.navbar-menu {
    font-size: 2rem;
    color: #ffffff;
}

.navbar-menu .fa-bars, .btn * {
    cursor: pointer !important;
}

.navbar-title-bold {
    font-size: 1.7rem !important;
    font-weight: bolder;
}

.navbar-title {
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.85);
}

.navbar-title-cinza {
    font-size: 1.1rem;
    opacity: 0.5;
}

.line-divider {
    width: 1px;
    height: 2.5rem;
    opacity: 0.5;
    border: solid 1.8px #979797;
}

.navbar-dropdown-icon {
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    border: solid 1px #345c8f;
    background-image: linear-gradient(to bottom, #20426c, #153462);
    color: rgba(255, 255, 255, 0.85);
    cursor: pointer;
}

.dropdown-styled {
    top: -5px;
    margin-left: 10px;
}

.dropdown-styled .btn {
    font-size: 14px !important;
    font-weight: bold;
}

.dropdown-primary { 
    background: #4A90E2 !important; 
    max-height: 380px;
    overflow: auto;
}

.dropdown-primary .dropdown-item { 
    color: white !important; 
}

.dropdown-primary .dropdown-item:hover, 
.dropdown-primary .dropdown-item:active, 
.dropdown-primary .dropdown-item:focus { 
    color: white !important; 
    background: #427ec6 !important;
}

#menu {
    background-color: rgba(0, 0, 0, 0.5);
    /* Black w/opacity */
    position: absolute;
    overflow-y: auto;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    min-height: 132.5rem;
    padding-top: 4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
}

.menu-selector {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0.8rem;
    top: -1.25rem;
    z-index: 999999999999999;
    border-left: 0.625rem solid transparent;
    border-right: 0.625rem solid transparent;
    border-bottom: 0.625rem solid #000000;
    border-top: 0.625rem solid transparent;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
    opacity: 1;
}

#sidebar {
    min-width: 355px;
    max-width: 355px;
    background: #224066;
    color: #3c689a;
    transition: all 0.3s;
    padding: 0 8px;
}

#sidebar .card-header img {
    width: auto;
    height: 30px;
}

#sidebar.active .font-sistemas {
    display: none !important;
}

#sidebar.active .font-painel {
    font-size: 1em;
    padding-top: 5px !important;
}

#sidebar.open .font-sistemas, #sidebar.open .font-painel {
    display: inline-block !important;
}

#sidebar.active i {
    font-size: 0.9em;
}

#sidebar.active {
    min-width: 5.5rem;
    max-width: 5.5rem;
    text-align: center;
}

#sidebar.active ul li a {
    padding: 0.625rem 0.625rem;
    text-align: center;
    font-size: 0.85em;
    display: block;
}

#sidebar.active ul li .sidebar-card {
    padding: 0.3125rem 0.625rem;
    font-size: 1.1em;
    display: none;
}

#sidebar.active ul .sidebar-card {
    padding: 0.3125rem 0.625rem;
    font-size: 1.1em;
    display: none;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 0.3125rem;
}

#sidebar.active ul ul a {
    padding: 0.625rem !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 0.625rem;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    /*background: #224066;*/
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 0.8rem;
}

#sidebar ul.components {
    padding: 0px 0;
    list-style-type: none;
}

#sidebar > ul > li > a {
    padding: 0.625rem;
    font-size: 1.1em;
    display: none;
    border-radius: 3rem;
}

#sidebar > ul > li > a:hover {
    color: #224066;
    background: #fff;
}

#sidebar > ul > li > a > i {
    margin-right: 0.625rem;
}

#sidebar .card-unico a {
    padding: 0;
}

#sidebar .card-groupwise a {
    font-size: 1.1em;
    padding: 0;
    padding-bottom: 10px;
}

#sidebar .card-body ul li .snp {
    font-size: 0.9em !important;
    padding: 0.4rem !important;
}

#sidebar ul li .sidebar-card {
    font-size: 1.1em;
    display: block;
}

#sidebar ul .sidebar-card {
    font-size: 1.1em;
    display: block;
}

#sidebar ul .sidebarAnchor {
    display: inline-block;
    padding-top: 120px;
    margin-top: -120px;
    position: absolute;
}

a[data-toggle="collapse"] {
    position: relative;
    text-decoration: none;
}

a[data-toggle="collapse"]:hover {
    text-decoration: none;
}

.collapse.show {
    display: block !important;
}

ul.CTAs {
    padding: 1.875rem;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 0.3125rem;
    margin-bottom: 0.3125rem;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    SIDEBAR CARD STYLE
----------------------------------------------------- */

.sidebar-card {
    width: 100%;
    border-radius: 0.3125rem;
    background-color: #ffffff;
}

.sidebar-card-title {
    font-family: 'SourceSansPro-SemiBold';
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3c689a;
}

.sidebar-card-title-icon {
    width: 1.6875rem;
    height: 1.6875rem;
}

.sidebar-card-footer-text {
    font-family: 'SourceSansPro';
    font-size: 0, 8125;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #3c689a;
}

.sidebar-card-footer-text .text-link {
    font-weight: bold;
}

.sidebar-card .nav.nav-pills li a {
    background-color: #e1e0e1;
    color: #969696;
    font-size: 0.75rem;
    padding: 0.5rem;    
    -webkit-box-shadow: inset 0px -5px 5px -5px rgba(0,0,0,.7);
    -moz-box-shadow: inset 0px -5px 5px -5px rgba(0,0,0,.7);
    box-shadow: inset 0px -5px 5px -5px rgba(0,0,0,.7);
}

.sidebar-card .nav.nav-pills li a.active { 
    box-shadow: none;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding-top: 0.5rem;
    padding-top: 4rem;
    padding-left: 1rem;
    padding-bottom: 4rem;
    margin-top: -4rem;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    Títulos e Subtítulos
----------------------------------------------------- */
.font-painel {
    font-size: 1rem;
    font-family: "SourceSansPro";
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #dfefff;
    display: block;
}

.font-sistemas {
    font-weight: normal;
    color: #609bd5;
}

/* ---------------------------------------------------
    Background e Cores
----------------------------------------------------- */
.bg-transparent {
    background-color: transparent;
    border: transparent;
}

.bg-sidebar {
    background-color: #224066;
}

.color-sidebar-btn {
    color: #788CA7;
    border-color: transparent;
    background-color: transparent;
}

.color-sidebar-btn:hover {
    color: #fff;
}

.bg-navbar {
    background-image: linear-gradient(to right, #2f5480, #2ba5c2);
}

.bg_menu_shortcut {
    background-color: #d1e3f7;
}

.font-color {
    color: #3c689a;
    font-family: "SourceSansPro";
}

.font-color-claro {
    color: #4a90e2;
    font-family: "SourceSansPro";
}

.font-color-weight {
    color: #3c689a;
    font-family: "SourceSansPro";
    font-weight: 600;
}

.font-bold {
    color: #3c689a;
    font-family: "SourceSansPro-bold";
}

.font-primaryBlue {
    color: #134885;
    font-family: "SourceSansPro";
}

.font-primaryBlue-bold {
    color: #134885;
    font-family: "SourceSansPro-semibold";
}

.font-semibold {
    color: #3c689a;
    font-family: "SourceSansPro-SemiBold";
}

.font-semibold-h2 {
    color: #3c689a;
    font-family: "SourceSansPro-SemiBold";
    font-size: 1.9rem;
    line-height: 1.75rem;
}

.font-color-grey {
    font-family: "SourceSansPro-Regular";
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.font-color-grey-bold{
    font-family: "SourceSansPro-bold";
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.font-weight-light {
    font-weight: 500;
}

/* ---------------------------------------------------
   Card Conecta
----------------------------------------------------- */
#sidebar .card-header {
    padding: 0.1rem 0.5rem;
    background-color: #fff;
    font-size: 1.05em;
    text-transform: uppercase;
    line-height: 1.25em;
}

.card-header {
    padding: 0.6rem 1rem;
    background-color: #fff;
    font-size: 1.05em;
    text-transform: uppercase;
    line-height: 1.25em;
}

.card-header-page {
    background-color: transparent;
    padding-left: 0;
}

.card-header img {
    width: auto;
    height: 25px;
}

.card-body {
    padding: 0;
}

.card-body img {
    display: block;
    margin: 0 auto;
}

.card-conecta-nome {
    font-family: 'SourceSansPro-bold';
    font-size: 1rem;
    font-weight: normal;
    font-style: bold;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3c689a;
}

.card-conecta {
    font-family: 'SourceSansPro';
    font-size: 0.8rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3c689a;
}

.card-conecta-img {
    width: 4.43rem;
    height: 4.43rem;
    background-image: url(../images/user-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    float: left;
}

.card-body ul.nav-pills li.nav-item a {
    padding: 0.5rem !important;
    font-size: 1em !important;
    border-radius: 6px 6px 0 0;
}

.card-body ul.nav-pills li.nav-item a.active {
    background-color: #fff;
}

.card-body div.tab-content div.tab-pane ul li {
    list-style-type: none;
    display: list-item;
}

.card-body .form-group label {
    color: #606060;
    font-weight: bold;
}


/* ---------------------------------------------------
   Card PAINEL
----------------------------------------------------- */

.card-painel-fonte-data {
    font-family: 'SourceSansPro';
    font-size: 0.95rem !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.card-painel-fonte-data .fonte-texto {
    font-family: 'SourceSansPro-SemiBold';
    font-weight: normal;
    border-bottom: 1px solid #979797;
}

.card-painel-fonte-data label {
    color: #969696;
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
}

.card-painel-fonte-data a {
    display: block !important;
    color: #3c689a;
    background: transparent;
    font-size: 0.8rem;
    padding: 0 0 0.8rem 0;
}

.card-painel-fonte-data a.snp {
    border-left: solid 5px #fff;
    padding-left: 1em !important;
}

.card-painel-fonte-data a.snp.sinal01 {
    border-left-color: #dc3545;
}

.card-painel-fonte-data a.snp.sinal02 {
    border-left-color: #f5a623;
}

.card-painel-fonte-data a.snp.sinal03 {
    border-left-color: #7ed321;
}

.card-painel-fonte-data.rodape {
    font-size: 0.75rem !important;
    padding-top: 0.55rem;
}

.card-painel-fonte-data span {
    font-family: SourceSansPro;
    display: contents;
}


.card-painel-nav {
    border-radius: 6px 6px 0 0;
    background-color: #e1e0e1;
    -webkit-box-shadow: inset 0px -5px 5px -5px rgba(0,0,0,.7);
    -moz-box-shadow: inset 0px -5px 5px -5px rgba(0,0,0,.7);
    box-shadow: inset 0px -5px 5px -5px rgba(0,0,0,.7);
}

/*
.card-painel-nav-btn-selected {
    width: 8.25rem;
    height: 2rem;
    border-radius: 0.1875;
    opacity: 1; 
    font-size:0.7rem;
    background-color: #ffffff;
    color: #4a4a4a;
    font-weight: bold;
    text-align: start;
}
*/
.painel-nav-btn-selected:hover {
    text-decoration: none;
}

/* ---------------------------------------------------
   Card Pesquisar Ã¡rea
----------------------------------------------------- */
.card-pesquisar {
    cursor: pointer
}
.card-pesquisar:hover {
    text-decoration: none;
    color: white;
      filter: brightness(120%);
}
.card-pesquisar-vermelho{
    font-family: 'SourceSansPro-Regular';
    font-size: 0.75rem;
    border-radius: 5px;
    background-color:#9b081a;
    color: white; 
}
.card-pesquisar-azul{
    font-family: 'SourceSansPro-Regular';
    font-size: 0.75rem;
    border-radius: 5px;
    background-color:#134885;
    color: white; 
}
.card-pesquisar-verde{
    font-family: 'SourceSansPro-Regular';
    font-size: 0.75rem;
    border-radius: 5px;
    background-color:#417505;
    color: white; 
}
.card-pesquisar-verdeClaro{
    font-family: 'SourceSansPro-Regular';
    font-size: 0.75rem;
    border-radius: 5px;
    background-color:rgb(113, 177, 40);
    color: white; 
}
.form-check-label{
    font-family: 'SourceSansPro-Regular';
    font-size: 0.75rem;
}
.close-collapse {
    top: -25px;
    position: relative;
    right: 10px;
    color: white;
    float: right;
    cursor: pointer;
    height: 0;
}
.card-pesquisar-status-cinza {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: white;
    border: 2px solid gray;
}
.card-pesquisar-status-verde {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #56bc56;
    border: 2px solid green;
}
.card-pesquisar-status-azul {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #5691bc;
    border: 2px solid #002c80;
}
.card-pesquisar-status-amarelo {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #bcbc56;
    border: 2px solid #8c9100;
}
.card-pesquisar-status-vermelho {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #bc5656;
    border: 2px solid #910000;
}

/* ---------------------------------------------------
   Card Único
----------------------------------------------------- */
.card-unico-font {
    font-family: "SourceSansPro";
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3c689a;
}

.card-unico-badge {
    position: relative;
    right: 0.1rem;
    bottom: 0.05rem;
}

.unico a {
    float: left;
    margin-right: 0.3rem;
}

.unico span.card-unico-badge {
    position: static;
    float: left;
    margin-left: -1.7rem;
    margin-top: -0.3rem;
}

/* ---------------------------------------------------
   Card PIN
----------------------------------------------------- */
.input-group.md-form.form-sm.form-1 input {
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.card-pin-search-btn {
    position: relative;
    right: 2.5rem;
}

.card-pin-search-icon {
    border: none;
    background-color: transparent;
    opacity: 0.7;
}

/* ---------------------------------------------------
   Card GRIFO
----------------------------------------------------- */
.card-grifo-caixa-relogio {
    width: 6.1875rem;
    height: 6.4375rem;
    border-radius: 5px;
    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to bottom, #b2dfff4d, #4a90e24d);
}

.card-grifo-relogio {
    color: #224066;
    font-size: 2.25rem;
    opacity: 0.4 !important;
    z-index: 999;
    margin-top: 0.5rem;
}

.grifo-font-acesso {
    font-family: "SourceSansPro";
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: normal;
    color: #134885;
}

.card-grifo-fonte-hora {
    font-family: "SourceSansPro";
    font-size: 23px;
    font-weight: bold;
    color: #134885;
}

.card-grifo-ponto-icon {
    font-size: 1.4rem;
    opacity: 0.5;
    color: #1d1d1b;
}

.card-grifo-divider {
    width: 1px;
    border-right: solid 1px #979797;
}

.card-grifo-registros {
    font-size: 0.9rem;
}


/* ---------------------------------------------------
   Card Sistemas Nacionais
----------------------------------------------------- */
.card-nacionais-bg {
    background-color: #d0e6ff !important;
}

small, .small {
    line-height: 15px;
}

/* ---------------------------------------------------
   Giga banner
----------------------------------------------------- */
#giga-banner {
    margin: 0 !important;
    padding: 0 !important;
}
    #giga-banner #fecha-giga {
        background-color: #000;
        color: #fff;
        right: 0;
        width: 70px;
        height: 30px;
        padding: 4px;
        text-align: center;
        float: right;
        margin-bottom: -20px;
        font-size: .8rem;
        font-weight: normal;
        opacity: .7;
        text-shadow: unset;
        margin-top: 12px;
    }
    #giga-banner a img {
        margin-top: -10px;
        width: 100%;
    }

/* ---------------------------------------------------
   Navegador conteudo
----------------------------------------------------- */
.navegador-conteudo {
    right: 0px;
    margin-top: 10px;
    height: 20px;
}

.navegador-conteudo ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
    float: right;

    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}

.navegador-conteudo ul li {
    float: left;
    text-decoration: line-through;
}

.navegador-conteudo ul li a {
    border-radius: 3px;
    margin: 0.2rem;
    font-size: 0.7rem
}

.navegador-conteudo ul li a.conteudo-1 {
    background-color: #425f81;
}

.navegador-conteudo ul li a.conteudo-2 {
    background-color: #7ed321;
}

.navegador-conteudo ul li a.conteudo-3 {
    background-color: #50e3c2;
}

.navegador-conteudo ul li a.conteudo-4 {
    background-color: #f5a623;
}

.navegador-conteudo ul li a.conteudo-5 {
    background-color: #c52f41;
}

.navegador-conteudo ul li a.conteudo-6 {
    background-color: #4084d1;
}

.navegador-conteudo ul li a:after {
    content: '- - - - - - -';
    visibility: hidden;
}

.navegador-interno-pagepath {
    line-height: 30px;
}

.navegador-interno-pagepath ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    text-align: left;
    float: left;
}

.navegador-interno-pagepath ul li {
    float: left;
    line-height: 15px;
}

.navegador-interno-pagepath ul li a {
    border-radius: 3px;
    margin: 0.2rem;
    font-size: 0.8rem
}

/* ---------------------------------------------------
   Destaques Principais componente
----------------------------------------------------- */
.componente-destaques-body {
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.30), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    background-color: #ffffff;
}

.carousel-background {
    background: transparent;

}

.carousel-icon {
    z-index: 0 !important;
    color: #134885;
    background-color: transparent;
    border-radius: 5px;
}

.carousel-indicators {
    position: inherit;
    top: 0.1rem;
    z-index: 0 !important;
}

.carousel-indicators .active {
    opacity: 1;
    border-color: #134885;
    background-color: #3c7cc6;
}

.carousel-indicators li {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: white;
    border: 2px solid gray;
    margin: 4px;
}

.carousel-control-prev {
    text-align: left;
    justify-content: left;
}

.carousel-control-next {
    text-align: right;
    justify-content: right;
}

.headline-font {
    color: #9b9b9b;
    font-size: 0.875rem;
    margin-bottom: 0px;
    font-style: italic;
}

.titulo-noticia-font {
    color: #3c689a;
    font-weight: bold;
    line-height: 1.9rem;
}

.subtitulo-noticia-font {
    color: #6b6b6b;
}

.play-icon {
    font-size: 1.3rem;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.destaques-principais {
    width: 12.4rem;
    height: 1.6rem;
    border-radius: 0px 0px 7px 7px;
    box-shadow: inset 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #425f81;
    font-family: "SourceSansPro";
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.divisor-componente {
    opacity: 0.3;
    border-bottom: solid 1px #979797 !important;
}

/* ---------------------------------------------------
   Minha Unidade componente
----------------------------------------------------- */
.divisor-unidade {
    height: 0.1rem;
    opacity: 0.7;
    border-bottom: solid 1px #979797;
}

.minha-unidade {
    width: 12.4rem;
    height: 1.6rem;
    border-radius: 0px 0px 7px 7px;
    box-shadow: inset 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #7ed321;
    font-family: "SourceSansPro";
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.list-card {
    border-radius: 5px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.list-card-icon {
    font-size: 1.6rem;
    opacity: 0.3;
}

.list-card-divisor {
    border-bottom: solid 1px #979797 !important;
}

.list-card-divisor-dashed {
    border-bottom: dashed 1px #979797 !important;
}

.list-card-divisor-dashed-right {
    border-right: dashed 1px #979797 !important;
}

.list-card-divisor-dashed-right:last-child {
    border-right: none;
}

.lista-row {
    flex-wrap: unset;
}

.row {
    width: 100%;
}

.novosCredeciados {}

.novosCredeciados span {
    color: #6b6b6b;
    line-height: 1.2 !important;
}

.albumFotos {}

.albumFotos ul li {
    list-style-type: none;
}

.albumFotos ul li a {
    flex-wrap: wrap;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
}

/* ---------------------------------------------------
   Portal Região componente
----------------------------------------------------- */
.portal-regiao {
    width: 12.4rem;
    height: 1.6rem;
    border-radius: 0px 0px 7px 7px;
    box-shadow: inset 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #50e3c2;
    font-family: "SourceSansPro";
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

/* ---------------------------------------------------
   Área Administrativas componente
----------------------------------------------------- */
.area-administrativa {
    width: 12.4rem;
    height: 1.6rem;
    border-radius: 0px 0px 7px 7px;
    box-shadow: inset 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #f5a623;
    font-family: "SourceSansPro";
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

/* ---------------------------------------------------
   Órgãos Superiores componente
----------------------------------------------------- */
.orgaos-superiores {
    width: 12.4rem;
    height: 1.6rem;
    border-radius: 0px 0px 7px 7px;
    box-shadow: inset 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #c52f41;
    font-family: "SourceSansPro";
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

/* ---------------------------------------------------
   Portal MPF componente
----------------------------------------------------- */
.portal-mpf {
    width: 12.4rem;
    height: 1.6rem;
    border-radius: 0px 0px 7px 7px;
    box-shadow: inset 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #4084d1;
    font-family: "SourceSansPro";
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}


label.labelHidden {
    display: none;
}

.img-list {
    /*width:auto;*/
}

.fixo {
    z-index: 199;
    right: 0;
    position: sticky;
    top: 70px;
    filter: alpha(opacity=60);
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
    height: 20px;
}

.fixo a {    
    opacity: 0.6;
}

.navegador-conteudo a.active {
    border: 3px solid white;
    opacity: 1;
}

.ancora-conteudo {
    display: inline-block;
    padding-top: 100px;
    margin-top: -100px;
    position: absolute;
}


/* ---------------------------------------------------
   Search bar componente
----------------------------------------------------- */
.search {
    width: 6.25rem;
    height: 3.125rem;
    margin: 0 auto 0;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
}

.search:before {
    content: '';
    display: block;
    width: 0px;
    height: 100%;
    position: relative;
    transition: all 0.5s ease;
}

.search.open {
    width: 14rem;
    background-color: #ffffff;
    border-radius: 2rem;
}

.search.open:before {
    margin: 0;
    position: absolute;
}

.search-box {
    width: 100%;
    height: 100%;
    box-shadow: none;
    background: transparent;
    border: none;
    color: #000000;
    padding: 0;
    font-size: 1rem;
    font-family: "SourceSansPro";
    transition: all 0.5s ease;
}

.search-box:focus {
    outline: none;
    transition: all 0.5s ease;
}

.search-button {
    height: 6.25rem;
    display: block;
    position: absolute;
    padding-right: 1rem;
    right: 0px;
    bottom: -1.375rem;
    cursor: pointer;
    background: transparent;
    border: 0;
}

.search-icon {
    font-size: 1.5rem;
    color: #ffffff;
    display: block;
    position: relative;
    transition: all 0.5s ease;
}

.search-icon.open {
    font-size: 1.875rem;
    color: #969696;
    display: block;
    position: relative;
    transition: all 0.5s ease;
}

/* ---------------------------------------------------
   Tela Notícias
----------------------------------------------------- */
.noticias-font-titulo {
    font-family: "SourceSansPro-semibold";
    font-size: 2.375rem;
    color: #134885;
}

.noticias-tags {
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #9b9b9b;
}

.noticias-icon-container {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    border: solid 1px rgba(151, 151, 151, 0.2);
    background-color: #ffffff;
}

.noticias-ul {
    list-style-type: none !important;
}

.noticia-sm p {
    font-size: 1.15em;
    line-height: 1.2em;
}

.noticia-sm picture {
    max-height: 80px;
    min-height: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.noticia-sm picture img {
    height: 100%;
    width: auto;
    margin: 0 auto;
    max-height: 100%;
    min-height: 100%;
    display: block;
}

/* ---------------------------------------------------
   Tela Gestão por competências
----------------------------------------------------- */
.list-group li:hover > a {
    color: #3c689a
}

.list-group > li:hover {
    background: transparent !important;
}

.list-group > li > a:hover {
    text-decoration: none;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    background-color: #597EA9;
}

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

div::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

/* ---------------------------------------------------
    Tela Gestão de Pessoas
----------------------------------------------------- */
.card-pessoas-text{
    overflow: auto;
}

/* ---------------------------------------------------
    Tela Saúde em Rede
----------------------------------------------------- */
a.badge {
    font-family: 'SourceSansPro-SemiBold';
}
.tag-todas {
    color:white;
    background-color: #ed2976;
    font-size: 1rem !important;
}
.tag-refeicao {
    color:white;
    background-color: #61b9c2;
    font-size: 1rem !important;
}
.tag-preparacao {
    color:white;
    background-color: #fbbe42;
    font-size: 1rem !important;
}
.tag-todas:hover, .tag-todas.active {
    background-color: #ededed;
    color: #ed2976;
}
.tag-refeicao:hover, .tag-refeicao.active {
    background-color: #ededed;
    color: #61b9c2;
}
.tag-preparacao:hover, .tag-preparacao.active {
    background-color: #ededed;
    color: #fbbe42;
}
.saudeRede-cardVideos-header{
    background-color: #62b8c4;
}
.saudeRede-cardVideos-body{
    background-color: #333;
}
.legenda-receita {
    display: block;
    background: #00000085;
    height: 30px;
    float: right;
    width: 100%;
    margin-top: -30px;
    color: white;
    text-transform: uppercase;
    padding: 5px;
    text-align: center;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

/* ---------------------------------------------------
    Paginação
----------------------------------------------------- */
.paginacao-selector {
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px rgba(151, 151, 151, 0.6);
  background-color: #ffffff;
}

.page-item.active .paginacao-selector {
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: solid 2px #134885;
  background-color: #134885;
}
.paginacao-selector-setas {
  opacity: 0.5;
  background-color: #d8d8d8;
}
.tag-noticiasLista{
    color: #4a4a4a;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #9b9b9b88;
    font-size: 1rem !important;
}
.tag-noticiasLista:hover{
    color: #fff;
    background-color: #4a90e2;
    border: solid 1px #4a90e2;
}
.tag-noticiasLista.active{
    color: #fff;
    background-color: #4a90e2;
    border: solid 1px #4a90e2;
}

/* ---------------------------------------------------
    Menu páginas lateral
----------------------------------------------------- */

.pageSidebarLeft {
    max-width: 240px;
}

.pageSidebarRight {
    max-width: 330px;
}

.pageSidebarRight .col-right {
    flex: 100%;
    padding-left: 1em;
}

.icon-rapido {
    max-width: 70px;
}

.list-group-item :hover{
    background-color: transparent;
}
.list-group-item.active{
    color: #4a4a4a;
    background-color: #4a90e21A;
    border-color: #4a4a4a1A;
}
.list-group-item.has-collapse:not(.collapsed){
    color: #4a4a4a;
    background-color: #4a90e21A;
    border-color: #4a4a4a1A;
}
.list-group-item.active .fas{
    color: #4a90e2;
}
.list-group-item-action {
    cursor: pointer;
}

/* ---------------------------------------------------
    Rodapé
----------------------------------------------------- */
footer .bg-white p.font-color {
    margin-left: 1.5rem !important;
}
footer .bg-white p.font-color img {
    margin-left: -1.5rem !important;
}
footer .bg-white p.font-color:last-child img {
    margin-left: -1.2rem !important;
}


/* ---------------------------------------------------
    notificações
----------------------------------------------------- */
.notificacao-urgente.btn.btn-urgente{
    color: #70101B;
    background-color: transparent;
    border-color: #835861;
}

.notificacao-urgente.btn.btn-urgente:hover{
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.notificacao-urgente.btn.btn-importante{
    color: #897111;
    background-color: transparent;
    border-color: #C6B780;
}

.notificacao-urgente.btn.btn-importante:hover{
    color: #fff;
    background-color: #C3B300;
    border-color: #BBAD32;
}

.notificacao-urgente.btn.btn-atencao{
    color: #16565F;
    background-color: transparent;
    border-color: #527A82;
}

.notificacao-urgente.btn.btn-atencao:hover{
    color: #fff;
    background-color: #085B61;
    border-color: #14505A;
}

.notificacao-urgente.btn.btn-aviso{
    color: #494949;
    background-color: transparent;
    border-color: #909193;
}

.notificacao-urgente.btn.btn-aviso:hover{
    color: #fff;
    background-color: #4A4A4A;
    border-color: #49494B;
}

.notificacao-urgente.btn.btn-vivo{
    color: #704908;
    background-color: transparent;
    border-color: #BB9459;
}

.notificacao-urgente.btn.btn-vivo:hover{
    color: #fff;
    background-color: #F59E10;
    border-color: #E4A031;
}

.notificacao-urgente.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    font-size: 1rem;
    padding: 0rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.notificacao-urgente.alert.alert-vivo {
    color: #855E23;
    background-color: #FFDCA4;
    border-color: #DCC091;
}